[2016-12-27 10:12] leonwanghui opened #1 "Update OpenSDS Source Code"
In OpenSDS latest version, we standardize the OpenSDS SourthBound Interface and improve the functionality of system. Right now we have finished OpenSDS integration of Cinder and the show and list method of volume have worked.

[2017-01-03 02:06] hannibalhuang commented on #1
Solved by #2

[2017-01-03 02:06] #1 closed

[2017-01-05 09:28] hannibalhuang opened #3 "OpenSDS working with Fuxi and k8s"
After we have opensds poc code successfully communicate with Cinder, we need to make it also talk to k8s via Fuxi successfully.

[2017-01-16 06:44] hannibalhuang commented on #3
solved by #7

[2017-01-16 06:44] #3 closed

[2017-02-08 00:53] leonwanghui opened #10 "Missing standard Command Line Interface in OpenSDS"
Currently OpenSDS CLI is just a simple parser with string. To make it more convenient to use, we should develop OpenSDS CLI as a well-accepted function, just like OpenStack and Kubernetes (kubectl).

[2017-02-08 07:41] leonwanghui commented on #10
This issue is solved.

[2017-02-08 07:41] #10 closed

[2017-04-10 02:48] leonwanghui opened #29 "OpenSDS Kubernetes External Provisioner Design"
As we all know, Kubernetes provides a framework of storage for container orchestration layer.

When users create a PVC, Kubernetes controller will retrieve PV from backends through a "Provisioner" interface. But right now each backend has its own provisioner([nfs](https://github.com/kubernetes-incubator/external-storage/tree/master/nfs), [efs](https://github.com/kubernetes-incubator/external-stora

[2017-04-10 02:59] hannibalhuang commented on #29
@johnmark @rchagam @stevenphtan @arvimal @kjellk @joehandzik

[2017-04-11 01:37] leonwanghui opened #31 "OpenSDS SouthBound Ceph Driver Design"
As a SDS controller, it's essential for OpenSDS to build its eco-system of sourthbound interface.

At the first stage, our strategy is to quickly make up for our lack with the help of OpenStack(Cinder, Manila). Now it's time to move to next stage where we should build our own eco-system competitive.

So we draft this proposal #30 , aiming to making OpenSDS better!

[2017-04-13 10:44] leonwanghui opened #34 "OpenSDS SouthBound Interface Design"
From the current version of OpenSDS southbound interface, we found that mount and unmount are operations of host, and MountVolume and UnmountVolume methods should be executed by OpenSDS Hub module rather than backend drivers, thus they should be removed from the southbound interface.

So we drafted this proposal #33  #35, aiming to make it easier for vendors to use by redesigning southbound interf

[2017-04-14 00:44] hannibalhuang commented on #34
can not be handled by drivers seems like a mis-statement, what is the actual meaning ?

[2017-04-14 03:36] leonwanghui commented on #34
Hi @hannibalhuang , the issue has been updated, please have a look at it.

[2017-08-07 12:42] wisererik opened #40 "Add Object-Relational Mapping (ORM) supports for database."
**Is this a BUG REPORT or FEATURE REQUEST?**:

feature
enhancement

**What happened**:

The opensds controller only supports mysql database.

**What you expected to happen**:

I expect to support multiple database such as mysql, sqlite, postgresql etc, via adding ORM library.

**Anything else we need to know?**:

There are some libraries that implement ORM or datamapping techniques:
- [gorm](https

[2017-08-07 13:26] leonwanghui commented on #40
Hi erik, I am a little confused about the motivation, can you give some detailed information or some use cases?

[2017-08-08 02:24] wisererik commented on #40
Hi Leon, someone may like sqlite rather than mysql, so it's beter to support a variety of databases through the ORM.

[2017-08-08 02:35] leonwanghui commented on #40
I think that's a good idea, so can you draft a PR that describes what's your plan to design ORM driver in the way like [this](https://github.com/opensds/opensds/pull/30)?

[2017-08-08 04:14] leonwanghui opened #41 "Ups Storage Plugin Runtime Error"
##  What version of env (opensds, os, golang etc) are you using?
- opensds: master branch
- os: ubuntu 17.04
- golang: go1.7.6 linux/amd64

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## What happened?
When I tried to test the function of whole system, I found that every time I called ups-storage-driver to create volume (attachment and snapshot) resource, the dock process will go crush

[2017-08-08 06:58] leonwanghui commented on #41
Since PR has been submitted and merged, I will close this Issue.

[2017-08-08 06:58] #41 closed

[2017-08-09 03:10] xxwjj opened #46 "Add log level features to opensds"
OpenSDS log system is so poor,we just using printing string to diff log level.

We could have referenced k8s's way and implemented it using  [glog](https://github.com/golang/glog).

[2017-08-09 03:22] leonwanghui commented on #46
Yes you are right, that is definitely something we should do. Besides glog, I think [logrus](https://github.com/sirupsen/logrus) is also a good choice.

BTW, @xxwjj can you add it on our weekly meeting [agenda](https://docs.google.com/document/d/1OKDp7iDw_l_5kGyniqTKtrwRFAZMvItGghsxfrCqr5c/edit#) so that we can discuss it on the next weekly meeting?

[2017-08-09 08:52] xxwjj commented on #46
ok

[2017-08-14 08:47] wisererik opened #51 "The opensds project has no roadmap and api panorama."
**Is this a BUG REPORT or FEATURE REQUEST?**:

help wanted

**What happened**:

Currently, the opensds project has no roadmap and api  panorama.

**What you expected to happen**:

I expect to discuss and draw up the roadmap and api panorama of the opensds project together.

**Anything else we need to know?**:

Plz refer to previous discussion on [opensds-dev](https://groups.google.com/forum/?hl=en

[2017-08-14 08:53] leonwanghui opened #52 "Half-baked framework and low coverage of testing"
IMO, testing plays a very important role in code development, which means that every method even structure should be validated by testing code.

But here is what our CI told us:
[code]

From some outputs above, it's obvious that we are still at the very early stage in testing world. To make our system code stronger and more convincing, we have to make up for the lack of testing work and improve th

[2017-08-14 09:06] leonwanghui commented on #51
@wisererik Good suggestion!
I have added this issue to the open discussion part of our next meeting (refer to [here](https://docs.google.com/document/d/1OKDp7iDw_l_5kGyniqTKtrwRFAZMvItGghsxfrCqr5c/edit#)).
Hope we will have a good discussion on the meeting : )

[2017-08-15 13:00] wisererik commented on #51
See details of the opensds controller project roadmap on [opensds wiki](https://github.com/opensds/opensds/wiki/OpenSDS-Controller-Project-Roadmap).

[2017-08-16 08:55] leonwanghui commented on #51
Looks like this issue has been solved, so it will be closed.

[2017-08-16 08:55] #51 closed

[2017-08-17 11:52] wisererik opened #54 "Compiling error when building osdsdock.go"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG

**What happened**:

A few minutes ago, when I  built the opensds project with LiteIDE, it reported the error and showed
`.\osdsdock.go:88: undefined: server.ListenAndServe`
It's caused by programming errors, but there is no suitable protective measure to help check this error.

**What you expected to happen**:

I expect to increase the build mech

[2017-08-17 12:03] leonwanghui commented on #54
It seems weired for me because there is no error when I build it. And from what you described, the error may means that this method ```ListenAndServe``` in server package is not defined, but I do find this method development:
[code]
So I'm curious about what is the cause of your problem, did you change some codes associated with this method?

[2017-08-17 12:37] wisererik commented on #54
@leonwanghui I'm sorry that I did not update local repository, It's not a problem, I will close it.

[2017-08-17 12:37] #54 closed

[2017-08-28 13:58] wisererik opened #59 "Add global config support"
**Is this a BUG REPORT or FEATURE REQUEST?**:

help wanted

**What you expected to happen**:

I found that the command tools start up opensds project by reading the command-line options and by setting up the configuration of servers, databases, etc.  IMO, the command-line options are not the best choice when more and more configuration options are required. There is an another way to manage config

[2017-08-28 14:12] leonwanghui commented on #59
Sounds a good idea. Some popular projects such like kubernetes, support initializing configuration from files. IMO, it would be good if we could define a unified ```Config``` object containing all parameters required, and parse it in the form of json or yaml.

@wisererik Could you finish the code development so that we can better understand? And last but not least, plz don't forget the testing cod

[2017-08-29 00:59] leonwanghui opened #60 "Full lifecycle management of the project"
## Motivation
As we know, LCM (life-cycle management) of one project SHOULD contain these stages below: design, coding, building, testing, deployment and releasing. From this point, opensds controller project is far away from being ready for producibility. Inside these stages, we still did poor work in building, testing, deployment and releasing these four stages.
## What should we do?
### Buildin

[2017-08-29 01:03] wisererik commented on #59
@leonwanghui my pleasure~

[2017-08-31 04:52] leonwanghui commented on #31
This issue has been solved with PR [$47](https://github.com/opensds/opensds/pull/47), so will be closed.

[2017-08-31 04:52] #31 closed

[2017-09-20 02:40] leonwanghui opened #69 "OpenStack Cinder driver support"
## Motivation
According to the [work tracking](https://docs.google.com/spreadsheets/d/1eFZsYCqTW8-zc8K6IMFUVhmzrZQKpOeO8Br0cCraPlU/edit#gid=0), it's an emergency to support more storage drivers. After discussion on weekly meeting, we are expected to support more than 2 drivers except Ceph driver, and Cinder driver is one of them at the moment.
## Solution
As you can see from some [discussions](htt

[2017-09-22 06:36] leonwanghui commented on #46
This Issue will be closed, for its referenced [PR](https://github.com/opensds/opensds/pull/74) has been merged.

[2017-09-22 06:36] #46 closed

[2017-09-22 06:39] leonwanghui commented on #59
Plz see PR [#65](https://github.com/opensds/opensds/pull/65) for development.

[2017-09-23 05:15] leonwanghui commented on #34
Resolved by PR [#79](https://github.com/opensds/opensds/pull/79).

[2017-09-23 05:15] #34 closed

[2017-09-27 00:36] leonwanghui commented on #59
Also see [#82](https://github.com/opensds/opensds/pull/82) and [#75](https://github.com/opensds/opensds/pull/75)

[2017-09-27 00:36] #59 closed

[2017-10-12 06:33] #69 closed

[2017-10-13 01:43] leonwanghui commented on #29
closed

[2017-10-13 01:43] #29 closed

[2017-10-21 15:53] leonwanghui opened #102 "Add client package for opensds controller project"
## Motivation
As a collaborative project, opensds controller project will work with other projects such as OpenStack, Kubernetes and so forth. To better integrated with ```nbp``` and other Golang project, it's necessary to design client package for opensds controller project to set up connection with opensds service.

## Introduction
Since we have adopted ```beego``` as the framework of api-server

[2017-10-21 16:04] leonwanghui opened #103 "Add CLI tool for opensds controller project"
## Motivation
Currently opensds controller project don't have any cli tool which is vital for any large system, so it's urgent for us to design cli tool before alpha release.
## Introduction
My initial thought is to build our cli tool at the basis of some frameworks such as cobra, cli and so on. And I suggest we choose cobra for its easy-usage and popularity. We can create a package called ```cli`

[2017-10-24 06:38] leonwanghui commented on #102
Resolved.

[2017-10-24 06:38] #102 closed

[2017-10-27 03:34] leonwanghui commented on #103
Solved by PR [#114](https://github.com/opensds/opensds/pull/114)

[2017-10-27 03:34] #103 closed

[2017-10-30 00:34] leonwanghui opened #116 "Add LVM Driver Support"
## Motivation
As a storage management and orchestration layer in multi-cloud environment, it's vital for opensds controller project to enlarge its southbound eco-system. Currently we have Ceph and Cinder driver which stand for storage system, but we still miss something in storage device management.

## Goal
To solve this problem, we are trying to add LVM storage device driver, which can be consid

[2017-10-30 00:38] leonwanghui commented on #60
Good news for this issue is that we have finished the initial development of first three parts. But I suggest we should speed it up since there is not time left.

[2017-11-02 03:20] leonwanghui commented on #116
Closed.

[2017-11-02 03:20] #116 closed

[2017-11-27 13:03] leonwanghui commented on #52
Currently the code coverage is under 40%, we should make it above 60% before first release.

[2017-12-01 03:10] leonwanghui opened #156 "New CI system integration request"
Hi all, I'd like to introduce a CI system which is built based zuul[1] and nodepool[2] tools, and it can used for tests(both unit tests and acceptance tests) based on a devstack[3] environment. For now, it has basicially finished the CI system building, and have tested with Gophercloud, it can work OK. It will long-term maintain the CI system and would like to propose to intergrate with Gopherclou

[2017-12-01 03:11] leonwanghui commented on #156
LGTM, what about anyone else?

[2017-12-13 01:20] leonwanghui commented on #40
@wisererik Hi, I noticed that this patch has been updated for a long time, can you close this issue temporarily or move it to next release?

[2017-12-13 01:34] wisererik commented on #40
@leonwanghui thanks, I close it temporarily and will re-come up this issue in next release.

[2017-12-13 01:34] #40 closed

[2017-12-23 02:15] leonwanghui commented on #156
As same with PR [#157](https://github.com/opensds/opensds/pull/157), this issue will be considered until next release.

[2017-12-23 02:18] leonwanghui commented on #60
Here I'm execited to tell you we almost finish the famework of full project! Thanks everyone for contributing in and supporting this project!

[2017-12-23 02:18] #60 closed

[2017-12-23 02:22] leonwanghui commented on #52
After a long-time run, we have improved a lot of code testing work and make the code coverage over 60% (see [here](https://coveralls.io/github/opensds/opensds?branch=development)), good job everyone!

[2017-12-23 02:22] #52 closed

[2017-12-24 07:22] stevenphtan commented on #60
good job!

[2018-01-15 06:59] xxwjj opened #233 "OpenSDS Controller API Request Filter"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Standard methods for REST are List, Get, Create, Update and Delete. Specially,The List method takes a collection name and zero or more parameters as input and returns a list of resources that match the input. In the current version , the OpenSDS Restfull API doesn't support the paination, order sorting, criteria query, total count o

[2018-01-18 02:30] xxwjj opened #235 "osdsdock status synchronization"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

There is no mechanism to probe the status of osdsdock, once the osdsdock service is broken down , the schduler (osdslet)  doesn't notified it , the osdslet will go on to schedule the osdsdock which is broken down. There will be some unpredictable mistakes or status that confuse the user.

**What you expected to happen**:

**How to

[2018-02-06 03:43] PengYiOfOpenSDS opened #249 "Extend Volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
  In the current version, the OpenSDS doesn't support "Extend Volume".

**What you expected to happen**:
  Extends the size of a volume to a requested size, in gibibytes (GiB).

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
  List of work items:
  1. Add an api (v1/{ProjectID}

[2018-02-06 04:31] leonwanghui opened #252 "Enable containerized deployment in ansible script"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
It was a great move we could set up opensds cluster in one command using ansible, but currently we only support opensds daemon services installation from source code, so a lot time was wasted on downloading and building work. We should try to improve it and provide a better user-experience to end-users.

**What you exp

[2018-02-06 06:34] leonwanghui opened #253 "Need a real etcd cluster for integration test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In the integration test, we used mocked db to simplify the configuration, but it should be removed because we should gurantee the stability of system in real environment.

**What you expected to happen**:
Replace the mocked db with real etcd cluster (standalone), and add etcd initializing script into prepare.sh, for testin

[2018-02-07 03:09] leonwanghui opened #254 "Helm Charts Support"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
[Helm](https://github.com/kubernetes/helm) is a popular package manager in Kubernetes. For easier deployment and operation, we should develop opensds charts to support helm.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Envir

[2018-02-08 08:29] leonwanghui commented on #249
Since this issue has been solved, I suggest we keep it open for a while to see if any question remains.

[2018-02-08 08:48] xxwjj opened #256 "Global configuration log optimize"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when osdslet or osdsdock start up, it will load the config file firstly , if some item is not setted in config file , the system will use default value and it will record a warnning information to log file. The config structure will load twice, one for default value and the other for real config file. so this log record will make de

[2018-02-08 14:13] leonwanghui commented on #249
I think this issue can be closed now, please feel free to reopen it if anyone finds some bugs.

[2018-02-08 14:13] #249 closed

[2018-02-08 14:14] #256 closed

[2018-02-08 14:19] leonwanghui opened #259 "Too many parameters when calling DeleteVolumeSnapshot in cli tool"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
From the code in `api` package, there is only one parameter `snapshot_id` needed when calling DeleteVolumeSnapshot function, but currently it still needs two parameters (`volume_id` and `snapshot_id`) to delete volume snapshot, which is unnecessary and makes user confused.

**What you expected to happen**:
We should remov

[2018-02-09 02:48] leonwanghui opened #260 "Containerized osdsdock service doesn't work when calling ceph backend"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I test the opensds cluster using docker-compose tool, it failed when calling ListPools method in ceph driver. And then osdsdock service would crash down because of some unexpected errors:
[code]

**What you expected to happen**:
Get this bug fixed.

**How to reproduce it (as minimally and precisely as possible)**:

*

[2018-02-09 08:25] #259 closed

[2018-02-09 10:09] leonwanghui commented on #260
I have fixed this bug by adding a line in `docker-compose.yml`:
[code]

Now the osdsdock service could run well, but when I login in the container, It seems that I still can't execute some cpeh shell command like what I did in vms:
[code]

I don't know if it's caused from the machine environment, but I will dive into this issue.

[2018-02-11 03:01] xxwjj commented on #260
There is some wrong with the docker base imge kernel version. This [link](http://ceph-users.ceph.narkive.com/kLgFojZi/client-ceph-can-not-connect-from-client-connect-protocol-feature-mismatch) will useful.

[2018-02-11 03:52] xxwjj opened #264 "Add self-define pool for ceph driver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
In current version ceph driver dosen`t support the self-define image pool. it just only  uses the default pool **rbd** . So it is not flexible.

**What you expected to happen**:
Add self-define pool feature.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Ho

[2018-02-11 10:31] xxwjj opened #265 "Add osdsctl bash completion feature"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The command line tool of opensds is not support bash completion feature, it not very friendly for users.

**What you expected to happen**:
Add bash completion feature

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g.

[2018-02-12 05:36] #265 closed

[2018-02-12 08:22] PengYiOfOpenSDS opened #268 "Modify Extend Volume error message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When the volume is expanded, if the new size is not greater than the old size, the error message is not written to this.Ctx.Output.Body.

**What you expected to happen**:
When the volume is expanded, if the new size is not greater than the old size, the error message should be written to this.Ctx.Output.Body.

**How to reproduce it

[2018-02-21 03:16] #264 closed

[2018-02-22 08:27] #268 closed

[2018-02-22 15:01] #252 closed

[2018-02-23 03:12] leonwanghui opened #273 "Need to clean some third-parth packages with unfriendly license"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In the first stage of project devlopment, we ignored some potential danger caused from external projects with unfriendly license. Now we should be noticed that it could cause large damage in knowledge authority.

**What you expected to happen**:
Search all third-party projects and clean those unfriendly porjects, please n

[2018-02-26 14:50] #273 closed

[2018-03-02 07:04] lasshpanzer opened #287 "State machines for volume, snapshot, attachment, dock(agent), pool"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Design proposal is submitted here: https://github.com/opensds/design-specs/pull/4

**What happened**:
There is no mechanism to show the real-time status and state transitions of volume, snapshot, attachment, dock and pool in the current opensds version.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**

[2018-03-08 01:43] PengYiOfOpenSDS opened #290 "Scheduler Enhancement"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. In the current version, opensds does not have a filtering framework that manages backend storage capabilities.
2. In the current opensds version, users cannot customize the required pool when they create a volume.

**What you expected to happen**:
1. opensds implements a filtering framework for managing backend storage capabiliti

[2018-03-08 06:07] prolen opened #291 "Is there any plan of security guarantee, such as https support, sensitive data encryption, params check and so on."
Is there any plan of security guarantee, such as https support,  sensitive data encryption, params checking and so on.

[2018-03-08 06:26] leonwanghui commented on #291
@prolen Thanks for your great question. Currently we do have supported https scheme and params check in api-server. For the rest part you mentioned, it would be all included in our future plan. If you are interested, any contribution is welcomed.

[2018-03-08 08:24] leonwanghui opened #294 "Add authentication and request filter in osdsctl and client package"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
According to keystone design (#289) and API request filter support (#284), opensds api-server has supported authentication and request filter features, but as for client and cli tool, these features also need to be supported.

**What you expected to happen**:
Add keystone authentication and api request filter support i

[2018-03-08 08:26] leonwanghui commented on #294
@xxwjj @lasshpanzer This issue is releated to PRs you have submitted, please take a look at it.

[2018-03-09 01:09] xxwjj commented on #294
@leonwanghui okay,  got it. That's what I'm doing.

[2018-03-12 04:47] xxwjj opened #304 "lvm driver bug"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

In opensds framework, we distinguish  volume by uuid, so the diffrent volumes can have the same name.
But the LVM driver does not support this feature,  it will return an error if you create two  volumes which have the same name.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

*

[2018-03-12 06:22] leonwanghui commented on #304
@xxwjj It's indeed a big issue to be solved, IMO one optional solution is to create a binding of `id:name` and pass it to volume name, which is much like what we did in ceph backend.

[2018-03-12 09:26] #253 closed

[2018-03-13 03:36] xxwjj opened #308 "Replace project id with tenant id."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
According to our previous discussion,we should use tenant id instead of project id.  So I summit this issue to finnish it.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/

[2018-03-13 06:08] #304 closed

[2018-03-13 06:11] #233 closed

[2018-03-13 07:27] #308 closed

[2018-03-13 12:45] #290 closed

[2018-03-16 01:18] leonwanghui commented on #294
@lasshpanzer Please take a look at this issue, because there are some issues when I test `osdsctl volume attachment list`.

[2018-03-16 15:31] noelmcloughlin opened #320 "RFE: automatic deployment using Saltstack"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What you expected to happen**:
According to #60,  "_automatic deployment and installation become more and more important in a distributed system cluster. As a cloud-native storage system, opensds controller project MUST support (at least one of) automatic deployment_

I'm interested in storage management, backup/restore, & SDS standard

[2018-03-16 16:07] noelmcloughlin commented on #254
fyi, another agnostic packaging technology is [snapd](https://snapcraft.io/)

[2018-03-16 17:09] #294 closed

[2018-03-16 17:26] leonwanghui commented on #320
Hi, firstly thanks for your precious suggestion, and we are glad to see someone join and contribute in this community. Here I have some questions and I would appreciate if you can give some answers:

1. Can you give a simple introduction about yourself? (Who you are, which company do you work for)
2. What do you expect from this project? (ie. you want to utilize the standard, or make it a product)

[2018-03-16 19:49] noelmcloughlin commented on #320
Hey @leonwanghui,  I working for Overstock.com based in Salt Lake City, but I'm here as hobbyist. As mentioned, I am interested in storage management, service availability, and systems automation. My primary skills are systems integration and good knowledge of Next Generation Operations Systems Support (OSS), Backup and Restore requirements and solutions.   I found OpenSDS today when reviewing  [S

[2018-03-16 20:09] xing-yang commented on #320
@noelmcloughlin That's great!  Thanks for your interest in contributing to OpenSDS!  Let us know how it goes with the opensds-formula and if you have any questions.

[2018-03-16 20:16] stmcginnis commented on #320
Welcome @noelmcloughlin!

Just a thought for everyone - if we are going to eventually get multiple ways to deploy OpenSDS like this, would it make sense to create repos for each. Something like opensds-salt, opensds-ansible, etc. I'd be interested to know folks thoughts on how to best structure things long term.

[2018-03-16 20:20] xing-yang commented on #320
There is an official repo for SaltStack formulas.  Usually formulas get stored over there.  I think we can fork that repo instead of creating another repo here.

[2018-03-16 20:22] xing-yang commented on #320
https://github.com/saltstack-formulas

[2018-03-16 20:31] noelmcloughlin commented on #320
Thanks @leonwanghui @xing-yang @stmcginnis pls let me know how to join the community as contributor, etc.

Yes, opensds-formula can be stored in the official repo.  Does anyone know if there is official repo for ansible - I searched once but it was unclear to me.

[2018-03-16 20:32] stmcginnis commented on #320
Oh, thanks @xing-yang. That makes sense to keep it where other salt formulas are kept. I wasn't aware of that (very limited salt experience).

I don't think there is an equivalent for ansible. At least none that I have come across so far.

[2018-03-17 03:40] leonwanghui commented on #320
@nolemcloughlin Hi, currently there are two deployment ways:

* [ansible](https://github.com/opensds/opensds/tree/master/contrib/ansible) script deployment for users

* [shell](https://github.com/opensds/opensds/tree/master/script/devsds) script deployment for developers

BTW, they will both be moved to standalone project after getting permitted by TSC.

[2018-03-18 12:59] leonwanghui opened #321 "Ceph backend doesn't work when integrating opensds with k8s csi"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When ceph backend enabled in k8s csi scenario, there are some bugs in `InitializeConnection` method which shown below:
[code]

* The `PullVolume` method has been implemented, so that the system will return error
* The pool name `rbd` can't be pre-defined

**What you expected to happen**:
Fix the bugs above.

**How to rep

[2018-03-18 22:23] nmadhok commented on #320
Let me know when project is ready to be forked upstream to https://github.com/saltstack-formulas and I'll fork it

[2018-03-19 01:44] xing-yang commented on #320
Thanks Nitin!

[2018-03-19 07:26] #321 closed

[2018-03-20 01:54] PengYiOfOpenSDS opened #324 "When expanding a volume, OpenSDS needs to check the upper limit of the new size of the volume."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When extending a volume, OpenSDS did not check the upper limit of the new size of the volume.

**What you expected to happen**:
When expanding a volume, OpenSDS needs to check the upper limit of the new size of the volume.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
None
**

[2018-03-24 03:58] #324 closed

[2018-03-26 17:13] noelmcloughlin commented on #320
Thanks, @nmadhok  Just finishing other saltstack work, then starting this.

[2018-03-27 09:31] leonwanghui commented on #320
@noelmcloughlin @nmadhok Great, please be free to to ask if you need any help.

[2018-03-29 08:58] leonwanghui commented on #320
Hi @noelmcloughlin @nmadhok, recently I'm working on proposing a new idea about how to simplify opensds deployment and configuration (see the [link](https://docs.google.com/presentation/d/1X-FqHhSPiu_0nV6GZqb_umlx37kpesGygMEGJRO2LvE/edit?usp=sharing)). And I think it's closely related to what you are working, so if you are interested I think we could submit a propsal that creates a new code repo t

[2018-03-29 12:16] stmcginnis commented on #320
I believe saltstack-formulas is where users of Salt expect to go to be able to find formulas. I don't have much Salt experience, so correct me if I'm wrong.

If that is the case, then even though this would be OpenSDS specific, I'm not sure if being under the opensds namespace would be the best option. I suppose we could look into mirroring the same repo between the two, but I don't believe there

[2018-03-29 13:13] xing-yang commented on #320
I just chatted with @nmadhok and he said he is interested in Leon's proposal.  Salt formulas do have an official repo, but Nitin said we can fork it to make sure it is in sync.  Leon's proposal also includes other deployment tools such as Ansible and Helm.  For Helm, there's also an official repo so we probably need to fork it as well.  We actually already talked about creating a separate repo to

[2018-03-30 00:49] leonwanghui commented on #320
@xing-yang IMO there is no need to fork Ansible and Helm official repo into [opensds](https://github.com/opensds) (but we can do it for communities collaboration), because we can directly download binary-built tools from them and run them without copying the source code. So (if I get it right) we could do the same thing to develop the `opensds-formulas` code in `opensds-installer` repo and install

[2018-03-30 01:48] xing-yang commented on #320
@leonwanghui My understanding is that it's better to store salt-formulas under the official Salt repo, but I'll leave that to you, @nmadhok, and @noelmcloughlin to decide what's the best way.

[2018-03-30 13:22] stmcginnis commented on #320
@xing-yang, I'm a bit confused by the statement "talked about creating a separate repo to host all OpenSDS deployment tools". Is there a plan to have one repo with all types of deployment tooling in it?

I would find it confusing, or at least pretty odd, to have one repo that contained ansible, helm, puppet, etc. modules, all in one place.

In this case, I think we need to have it where saltstack

[2018-03-30 15:17] xing-yang commented on #320
@stmcginnis Currently we have multiple deployment tools in both Sushi and Hotpot.  Members from EUAC and TSC told us it is hard to navigate and find out which deployment tool to use.  Leon had proposed to have a common repo and move all the deployment tools in it so that user can just go to one place to install OpenSDS.  This was discussed in previous Technical Meetings and TSC meeting and everyon

[2018-03-31 00:01] noelmcloughlin commented on #320
Thanks for the excellent feedback, the comments are interesting.

@leonwanghui You are proposing 'SDSDS-d' ('_software defined [open] SDS deployer_")? :smiley:  Abstraction from underlying deployment technologies is important aspiration, so I support your proposal.  And @xing-yang confirms TSC agreement that the code be hosted here.

@stmcginnis, I agree ansible, puppet, helm, saltstack, etc, inte

[2018-03-31 03:58] #287 closed

[2018-04-01 21:36] noelmcloughlin commented on #320
[This site](https://galaxy.ansible.com/explore#/ ) appears to be an official Ansible hub for "formulas".

[2018-04-02 02:48] leonwanghui commented on #320
@noelmcloughlin This is great, I think we can develop the `opensds-ansible` code under opensds repo, and publish the release into this Ansible Hub.

[2018-04-05 16:08] noelmcloughlin commented on #320
I think a better name is`opensds-deployer` component/project/repo - the deployment use cases will be- install, upgrade, and uninstall, in the first iteration.  Later the Controller may require API support for other related use cases- downgrade, and backup, for example.

I think the `opensds-salt` code can be lightweight.  The following upstream building blocks could be integrated with `opensds-sal

[2018-04-06 15:32] howels opened #349 "Include documentation for use with EMC VMAX and/or Unity"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**: No documentation explaining how to use OpenSDS with Dell EMC VMAX or Unity

**What you expected to happen**:  Simple guide added to docs section, explaining how to configure OpenSDS with VMAX or Unity for users who wish to begin using OpenSDS.

**How to reproduce it (as minimally and precisely as possible)**:

**Anyth

[2018-04-06 15:38] xing-yang commented on #349
@howels Thank you for your interest in OpenSDS!  Can you please tell us a little bit about the background of this request?  Are you a customer of VMAX/Unity or you are working for Dell EMC?  Thanks!

[2018-04-09 00:51] leonwanghui commented on #320
Hi @nmadhok @noelmcloughlin , just want to know how is going on about your code development of `opensds-salt` : )

[2018-04-09 00:54] leonwanghui commented on #254
@noelmcloughlin Looks like a cool installer tool! Can you draft an initial design proposal if you want to implement this feature? Thanks!

[2018-04-09 00:59] leonwanghui commented on #254
@noelmcloughlin BTW, I will close this issue, please be free to set up a new one if you want to add `snapd` deployment.

[2018-04-09 00:59] #254 closed

[2018-04-09 08:29] noelmcloughlin commented on #320
Last week I worked on PR for `etcd-salt`[here](https://github.com/saltstack-formulas/etcd-formula/pull/7), since openSDS needs etcd. Ceph may will need work too.   Next few weeks are very busy time for me until after April 20th. will examine ceph next.

[2018-04-09 09:25] noelmcloughlin commented on #254
@leonwanghui Thanks. Raised Helm issue upstream.
 https://github.com/saltstack-formulas/packages-formula/issues/19

[2018-04-16 04:37] seiyatakei opened #356 "When deleting volume in LVM environment, the snapshots remain in OpenSDS DB."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
In lvm environment, it is possible to delete volume in case of the snapshot is existing. When a volume is deleted, the snapshots are also deleted. But the snapshots exist in OpenSDS DB.
Because cinder and ceph prevent to delete volume if the snapshot is exists, this issue only happens in lvm.

**What you expected to happen**:
OpenSD

[2018-04-16 06:35] leonwanghui commented on #356
Hi @seiyatakei , this is a fatal bug for managing volume resource and thank you for finding it out. For your proposed goal, I think there are two options for solving this problem:
* Modify the force delete operation in lvm driver by removing the `-f` tag when calling the `lvremove` command
* Add the operation of checking existing resource related to volume in `dock` package, and return error if an

[2018-04-17 14:30] leonwanghui commented on #356
Thank you @seiyatakei  for great contribution, I will close this issue since it has been fixed.

[2018-04-18 13:33] howels commented on #349
Hello, I work at DellEMC and I'm trying to use OpenSDS in place of CoprHD. I can locate hardware to test against if someone can provide instructions to help get OpenSDS running.

[2018-04-18 14:32] xing-yang commented on #349
@howels Hi!  I worked at DellEMC before as well.  We are planning to have native drivers to support DellEMC storage in OpenSDS in the 2nd half of 2018.  If you want to start installing OpenSDS and get familiar with it, the easiest way is to test OpenSDS standalone with LVM backend:
    https://github.com/opensds/opensds/wiki/Local-Cluster-Installation-with-LVM
We also provide Ansible deployment to

[2018-04-20 09:35] leonwanghui commented on #349
Hi @howels , firstly sincerely thank you for focusing this project, and the answer for your quesiton is yes.

Currently we support three options to integrate opensds with Kubernetes:
* [external provisioner and flexvolume](https://github.com/opensds/nbp/wiki/OpenSDS-FlexVolume-and-Provisioner-Testing-Steps): This enables opensds work as the extenal storage drivers of kubernetes
* [csi plugin](http

[2018-04-20 11:16] howels commented on #349
Do you also supply templates to run the OpenSDS service containers within Kubernetes? I noticed the CSI support which is great but I only see Docker-Compose container templates which is ok for a demo but harder to manage in complex production environments.

[2018-04-20 11:28] leonwanghui commented on #349
Good question! Currently I ‘m working for helm deployment (code is under charts folder) but not finished completely, now you can try deploy opensds service using helm but opensds csi plugin is not ready to deploy now, I can send you the helm install steps offline if you want to test it.

[2018-04-20 11:33] howels commented on #349
That's ok. As my goal is to utilise a Storage Array with OpenSDS I will wait until support for VMAX and other devices starts to appear, then test everything at once.

[2018-04-20 11:33] #349 closed

[2018-04-20 11:45] leonwanghui commented on #349
Sure, BTW could you join in opensds slack so that we can communicate more freely? You can find the link in README.md : )

[2018-04-23 03:51] leonwanghui commented on #356
This issue is reopened for having not been solved by removing -f option, because it would cause some error when deleting logic volume. And this issue currently is being fixed by #362

[2018-04-24 07:38] leonwanghui commented on #320
@noelmcloughlin @nmadhok Hi, this is just a warm remind that the [opensds-installer](https://github.com/opensds/opensds-installer) code repo has been created and `ansible` and `helm` deploy scripts have been moved into this repo. Please be free to push it if your code is ready. Thanks!

[2018-05-04 01:02] leonwanghui commented on #356
Fixed by #362

[2018-05-04 01:02] #356 closed

[2018-05-07 04:36] leonwanghui commented on #235
Hi @xxwjj , I have a suggestion that we can use `ttl` feature in etcd to solve the problem above. But it can simply remove the dock record stored in etcd but not change the status of dock resource.

[2018-05-08 23:47] noelmcloughlin commented on #320
The `etcd-salt` pull request was [merged](https://github.com/saltstack-formulas/etcd-formula/pull/7).   I'm going to look at `opensds-ansible` next and Ceph next.  My intention is to reuse [ceph-formula](https://github.com/saltstack-formulas/ceph-formula) but another extremely interesting option is [DeepSea](https://github.com/SUSE/DeepSea).  I need to do some further research.

[2018-05-21 16:00] noelmcloughlin commented on #320
Hi @leonwanghui  Sorry, no further updates. do you want to close this issue until a design/Pr proposal is ready?

[2018-05-22 00:40] leonwanghui commented on #320
@noelmcloughlin It's ok to leave it here, I'm just wondering if this feature can be finished by late June, since we would publish the Aruba release then.

[2018-05-22 08:16] noelmcloughlin commented on #320
hi @leonwang, it cannot be planned into Aruba, but definitely the following
release.

On Tue, May 22, 2018 at 1:40 AM, Leon Wang <notifications@github.com> wrote:

[2018-05-22 08:53] leonwanghui commented on #320
Cool!

[2018-05-22 18:43] wjeiv opened #397 "Can not install via bootstrap.sh script: 404 not found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I tried to install via Installation README located at:
https://github.com/opensds/opensds/wiki/OpenSDS-Local-Cluster-with-Multi-tenants-Installation

Attempt to run the command provided yielded an error.
# curl -sSL https://raw.githubusercontent.com/opensds/opensds/master/script/cluster/bootstrap.sh | sudo bash
bash: lin

[2018-05-22 19:47] wjeiv opened #398 "Can not test Containerized Installation Deployment: osdsctl CLI cannot be downloaded"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I followed the instructions in:
https://github.com/opensds/opensds/wiki/How-to-Run-Containerized-OpenSDS-for-Testing-Work

When I got to the following step, it failed because the file was not found:
root@ubuntu:~# curl -sSL https://raw.githubusercontent.com/opensds/opensds/development/osdsctl/bin/osdsctl | mv osdsctl /us

[2018-05-22 19:53] wjeiv opened #399 "Installation of OpenSDS through docker-compose hangs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I was following steps in the opensds installation guide for using docker-compose to install.
It seems to work but keeps timing out.  Not sure if it really did start up and the docker-compose just didn't finish, or if it's really trying to wait for something that isn't happening.  Let me know if there's something else I c

[2018-05-23 13:22] wjeiv commented on #397
Thank you, Leon.  That worked well.

[2018-05-23 13:22] #397 closed

[2018-05-23 13:31] wjeiv opened #401 "Multi-tenant instructions for testing instructs to source files that don't exist."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I was following steps in: https://github.com/opensds/opensds/wiki/OpenSDS-Local-Cluster-with-Multi-tenants-Installation

The section for Testing instructs:

If you choose keystone for authentication strategy, you need to execute different commands for logging in as different roles:

For admin role
source /opt/stack/devst

[2018-05-23 13:34] leonwanghui commented on #401
I'm afraid you didn't modify `script/devsds/local.conf`?

[2018-05-23 13:44] wjeiv commented on #398
That worked, thank you! Verified the README content was updated as well.  Closing.

[2018-05-23 13:44] #398 closed

[2018-05-29 15:13] xing-yang opened #426 "DRBD: Export of underlying backing devices"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently, OpenSDS exports created devices for access. For example the
DRBD backing devices (LVM volumes) are iSCSI exported. Accessing the
underlying backing devices directly breaks DRBD. This would also
apply to every layered block devices in Linux (e.g., accessing the
underlying devices of a DM-crypt device also break

[2018-05-29 15:20] xing-yang opened #427 "DRBD: Shared state in OpenSDS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

DRBD uses shared information that has to be consistent and available
on both hosts. This mainly includes the chosen TCP/IP ports and the
DRBD minor number. As there are no real means to share that
information in the OpenSDS cluster, this works as follows:

use the same port/minor minimum version (drbd.yaml) on both hosts

[2018-05-30 14:20] noelmcloughlin commented on #320
@nmadhok  could you please fork [DeepSea formula](https://github.com/noelmcloughlin/deepsea-formula) to saltstack-formulas community please?  This might be useful for salt-opensds installer. Thanks.

[2018-05-31 23:52] noelmcloughlin commented on #320
Hi all,  the following is a brief progress update on prototyping opensds deployment via Salt.

**OpenSDS Cluster Installation through SaltStack progress report.**

The following prototyping has been completed on GNU Linux (Centos and Suse) cluster.  Refer to the attached logs for pseudo-design and prototyping logs.

1. Bootstrap the SDS controller (bash script)  OK
2. Review yaml models   OK
3. De

[2018-06-01 00:16] stmcginnis commented on #320
Awesome, thanks @noelmcloughlin!

[2018-06-01 00:16] xing-yang commented on #320
Hi @noelmcloughlin, that is great progress!  Looking forward to seeing your PR.  Thanks!

[2018-06-01 00:37] leonwanghui commented on #320
@noelmcloughlin Well done, and BTW you can just open a PR on opensds-installer master branch directly.

[2018-06-01 01:12] xing-yang commented on #427
This is already fixed by https://github.com/opensds/opensds/pull/421.

[2018-06-01 01:12] leonwanghui commented on #426
Hi @xxwjj , can you take a look at this issue?

[2018-06-01 01:58] #427 closed

[2018-06-01 02:41] xing-yang opened #432 "Profile to volume_type mapping"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Currently there is no mapping between OpenSDS profile and Cinder volume_type.

**What you expected to happen**:
1. When creating a new profile in OpenSDS, OpenSDS should create a corresponding volume_type in Cinder if Cinder is a backend.
2. When using an existing Cinder setup, OpenSDS should create a profile that is mappe

[2018-06-05 17:11] noelmcloughlin commented on #320
I have an outline framework for opensds-installer/salt support  completed. [Please see this ...](https://github.com/noelmcloughlin/opensds-installer/pull/1/files)

[2018-06-05 17:35] xing-yang commented on #320
Thanks @noelmcloughlin !  If you have tested your PR, please go ahead and submit it so we can review it.  I noticed that you referenced your own fork in the PR.  That should be changed when you submit it?

[2018-06-05 19:07] noelmcloughlin commented on #320
PR: https://github.com/opensds/opensds-installer/pull/13   I referenced my own fork for DeepSea (aka openATTIC) because that upstream project needs some work for GNU Linux / Distro agnostic solution.

[2018-06-06 00:59] xing-yang commented on #320
Thanks @noelmcloughlin!
@nmadho can you help review this PR? https://github.com/opensds/opensds-installer/pull/13.  Thanks!

[2018-06-10 18:15] xing-yang opened #459 "Admin should be able to see all volumes in Dashboard"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Deployed using opensds-installer ansible with CSI and LVM backend. Created a volume by "kubectl create -f nginx.yml". Volume will be shown by "osdsctl volume list", but it is not shown in Volumes when logging in as Admin in Dashboard.

**What you expected to happen**:
It should show up in Volumes when logging in as Admin

[2018-06-11 03:12] leonwanghui commented on #459
@jimccfun

[2018-06-12 00:37] leonwanghui commented on #426
Has this issue been solved?

[2018-06-12 00:39] leonwanghui commented on #401
Hi @wjeiv , could you update the status of this issue, resolved or unresolved? Thanks!

[2018-06-12 00:40] leonwanghui commented on #399
Hi @wjeiv , can you also update the status of this issue? Thanks!

[2018-06-13 01:02] leonwanghui commented on #459
resolved by [https://github.com/opensds/opensds/pull/462](https://github.com/opensds/opensds/pull/462)

[2018-06-13 14:02] #459 closed

[2018-07-01 02:50] leonwanghui commented on #426
Hi @xing-yang , do you know if this issue is resolved? Thanks!

[2018-07-01 03:11] leonwanghui opened #487 "Set up milestone tags for OpenSDS Bali release"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
For Bali release, we should standardize the release tracking work by adding some milestones.

**What you expected to happen**:
We can create some milestones in [https://github.com/opensds/opensds/milestones](https://github.com/opensds/opensds/milestones), and mapping our code development to specific milestone.

**How

[2018-07-01 18:55] xing-yang commented on #426
No.  This is still outstanding.  Shufang and/or Jiajun are working on the design to fix this.

[2018-07-04 01:58] xing-yang opened #494 "Security vulnerabilities in dependencies in dashboard/package-lock.json"
When going to opensds/opensds repo, there is a big warning shown here:

We found potential security vulnerabilities in your dependencies.
Some of the dependencies defined in dashboard/package-lock.json have known security vulnerabilities and should be updated.

We should fix this problem.

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**What you expected to happen**

[2018-07-04 08:38] BaiHuoYu opened #495 "If the volume being extended has a snapshot and the driver is lvm, deactivate the snapshot first."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
If the volume being extended has a snapshot and the driver is lvm, it has not been extended successfully.

**What you expected to happen**:
If the volume being extended has a snapshot and the driver is lvm, deactivate the snapshot first.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to k

[2018-07-05 06:14] rayco-zhan commented on #494
This warning means that versions are relatively low of two modules in angular's node-modules.
1.  these components are dependent on the Dashboard development environment and have no impact on the compiled running environment.
2.  There are many dependencies between components, of which two upgrades may lead to other problems.
Therefore, I recommend maintaining the status quo and updating all Angul

[2018-07-16 02:35] jiaohaolin opened #500 "confirmation email rejected"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG

**What happened**:
Sorry to bother everyone in this way. I am an employee of China Mobile. I just want to join OpenSDS and figure out what it is,what it is doing for? I try to join in the maillist ,but it seems broken down, the  comfirmation email can not be send to my mailbox. It  say '550 2eeb5b4bfd4364a-b2846 Mail rejected',‘https://lists.open

[2018-07-16 02:39] xing-yang commented on #500
Hi @jiaohaolin Welcome!  I'll send you an invite to slack.  I got notification that you have joined the mailing list.  I'll double check.

[2018-07-16 02:47] xing-yang commented on #500
I have just sent you an invite to join slack and also confirmed your membership in the opensds-tech-discuss mailing list.  Let me know if you need anything else.

[2018-07-16 02:49] jiaohaolin commented on #500
@xing-yang  Thanks

[2018-07-17 08:47] leonwanghui commented on #500
So I'll consider this issue as resolved, thanks @jiaohaolin !

[2018-07-17 08:47] #500 closed

[2018-07-21 19:05] stmcginnis opened #504 "TestVolumeAction in contrib/cindercompatibleapi/api/volume_test.go should modify sleep call"
/kind bug

When running tests, the cindercompatibleapi/api tests take over 10 seconds to complete.
This appears to be because of a sleep call in TestVolumeAction that should be modified
when running unit tests to not wait. Unit test runs should not take long to complete and this
adds a long unnecessary delay.

This is in the current master and development branch hotpot code.

[2018-07-24 00:51] leonwanghui commented on #504
Hi @BaiHuoYu , can you take a look at this issue?

[2018-07-24 02:40] leonwanghui opened #505 "Enhance dist make target for build packaging"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
For #503 , it's a good feature for building the project, but I found some issues to fix:

* `make dist` command requires `zip` and `tree` packages which is not installed in ubuntu by default
* When I performed `make clean`, the `dist` folder wasn't removed, but it should be ok
* From my perspective, `make dist` command w

[2018-07-24 12:40] stmcginnis commented on #505
1. Do we have somewhere that we document which system packages need to be installed? I suppose we could add something like bindep (https://docs.openstack.org/infra/bindep/). There are a lot more than just zip and tree needed.

2. Correct. I didn't want a make clean to delete and dist output since that might still be needed and would not interfere with running make again.

3. The hash is used in th

[2018-07-25 09:30] leonwanghui commented on #505
Hi @stmcginnis , here are some answers for your questions:

1. We don't have a unified document for demonstrating what packages should be prepared for the installation, instead we insert the installation commands of some required packages in the scripts. So I think we should enhance this area.
2. You are right, it has no impact so just keep it in this way.
3. I think we should update the command t

[2018-07-25 15:02] stmcginnis commented on #505
1. We can add a bindep format file, even if we don't actually plan to use bindep. It's at least a mostly human readable file that would give an indication of what needs to be done to get things set up. I also kind of like the idea of an ansible task that can be used to get the environment set up.

3. Actually, I don't think the installer should be calling that at all. It should use the latest rele

[2018-07-26 00:38] leonwanghui commented on #505
Yes, I can't agree more that the installer should enable installation from release by default, but it seems that we haven't tested that feature.

[2018-07-30 13:33] xing-yang commented on #426
We have done investigation on this issue.  We don't believe this will cause data corruption.

We have two storage backends on the test setup, Huawei's Dorado storage array and LVM.  Dorado is used for the primary node, and LVM is used for the secondary node.

The primary volume created by Dorado is exposed as a block device /dev/sdb on the primary node.  /dev/drbd1 is the DRBD device path.

The se

[2018-08-02 02:53] #505 closed

[2018-08-03 02:03] leonwanghui commented on #401
Hi @wjeiv , I'll just close this issue for now, please be free to reopen it if you still have any question : )

[2018-08-03 02:03] #401 closed

[2018-08-03 02:04] leonwanghui commented on #399
Hi @wjeiv , I'll just close this issue for now, please be free to reopen it if you still have any question : )

[2018-08-03 02:04] #399 closed

[2018-08-10 06:51] #504 closed

[2018-08-13 08:44] imquanquan opened #517 "The health check and status of dock"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I deployed three dock nodes in a ceph cluster：
[code]

Then,I do a stability testing for my opensds cluster.First,I kill `osdsdock` daemon in two dock node.

[code]

but,`osdsdock` still running on another on dock node:

[code]

Secondly,I create a `pvc` on kubernetes with OpenSDS csi plugin.

pvc.yaml:
[code]

I received an error w

[2018-08-14 01:29] leonwanghui commented on #517
Hi @imquanquan , first of all thanks for pointing out this critical issue, I think it's related to [#235](https://github.com/opensds/opensds/issues/235). For your question mentioned, I think the key problem is that according to the capabilities reported  by dock service, the system chose the unavailable dock service exactly. One proposed solution is that we can enable `tty` feature in etcd and det

[2018-08-14 07:35] imquanquan commented on #517
Thanks @leonwanghui ,I'am doing some testing for OpenSDS now,and feedback problem I encountered :）

[2018-08-14 09:05] #517 closed

[2018-08-20 12:53] xing-yang commented on #494
I think we should keep this open so we don't forget to address it later.

[2018-08-22 18:27] noelmcloughlin opened #520 "Supply checksums for downloadable assets"
**What happened**:

I want to compare download checksum with OpenSDS release checksums.

**What you expected to happen**:

Please publish checksums for end users artifacts - ideally via URL

**Example**
https://github.com/opensds/opensds/releases/download/v0.3.0/opensds-hotpot-v0.3.0-linux-amd64.tar.gz
https://github.com/opensds/opensds/releases/download/v0.3.0/opensds-hotpot-v0.3.0-linux-amd64.ta

[2018-08-22 18:30] xing-yang commented on #520
@stmcginnis Can you please take a look?

[2018-08-22 18:43] stmcginnis commented on #520
Thanks Noel, I actually do have this on my todo list for releases. I will update here on progress.

[2018-08-22 18:48] noelmcloughlin commented on #520
Thanks @stmcginnis

[2018-09-05 06:29] leonwanghui commented on #432
Assigned to @lijuncloud

[2018-09-27 15:24] wisererik opened #528 "The number of “Block Storages” in “Home” tab"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

1. There are eight Block Storages in Home tab.
![1](https://github.com/wisererik/images/blob/master/1.png)

2. But two of Block Storages are attacher dock so the number of actual Block Storages are six. Is attacher
dock included in Block Storages?
![2](https://github.com/wisererik/images/blob/master/2.png)

**What you expected to h

[2018-09-30 13:58] xing-yang commented on #432
The default Cinder volume type is always used.  We should pass in a cinder volume type at volume creation time.  That volume type name/uuid should be in the profile.

In the following code, volume type should be passed in, in addition to name, description, and size:
https://github.com/opensds/opensds/blob/master/contrib/drivers/openstack/cinder/cinder.go#L172

When creating a profile that will be

[2018-10-16 06:29] pohly opened #532 "priority of command line flags vs. config"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I was following the https://github.com/opensds/opensds/wiki/How-to-Run-Containerized-OpenSDS-for-Testing-Work instructions when I noticed that I had to change the ports of the etcd container because my host already had another etcd instance running which used the ports.

I changed the command line parameters, but that ha

[2018-10-18 00:54] leonwanghui commented on #532
@pohly Thanks for pulling this issue, and @xxwjj please take a look at it, thanks!

[2018-11-29 04:10] imquanquan opened #556 "csi.server.opensds go into the zombie state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I perform fault testing for OpenSDS with Kubernetes and Ceph.One of test cases is simulating the Ceph **slow disk** impact on OpenSDS and Kubernetes CSI when the StatefulSet start up.The test result shows that the `csi.server.opensds` process in CSI nodeplugin container  go into the zombie state.This will cause the entir

[2018-12-05 00:26] bluejumper opened #562 "oops: sensitive information in code?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I found something that looked sensitive, and likely private.

**What you expected to happen**:
To notify the repository maintainers.

**How to reproduce it (as minimally and precisely as possible)**:
Open the following link in your browser: https://github.com/opensds/opensds/blob/master/pkg/db/drivers/mysql/mysql.go#L32

[2018-12-05 00:32] leonwanghui commented on #562
Oh even though the password is out-of-date, still thanks for your kind remind, and we will fix it ASAP : )

[2018-12-05 00:35] xing-yang commented on #562
Thanks for reporting the bug!
Fixed it in the development branch: https://github.com/opensds/opensds/commit/90102816ecbcc8b4178d9b8b2767be25bda279fe

Will merge it to master when we cut the Bali release.

[2018-12-05 00:41] bluejumper commented on #562
Has been maintained 👍

[2018-12-05 00:41] #562 closed

[2018-12-20 04:06] bfliujinlong opened #571 "osdsctl issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:
[code]

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-12-20 06:11] leonwanghui commented on #571
Hi @bfliujinlong , it seems that there is something wrong with host_ip configuration, can you show how you configure it? Thanks!

[2018-12-21 02:41] bfliujinlong opened #572 "dashboard issue of bali"
[code]
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
the docker image of dashboard can't login
**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
-

[2018-12-21 02:59] leonwanghui commented on #572
Hi, can you show more info about your issues? Have you opened it on brower?

[2018-12-28 08:32] wisererik opened #575 "No reason appear when volume was created unsuccessfully."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When I created a volume whose requested size is more than the pool, the volume was created unsuccessfully. But there was no any reason appeared.

**What you expected to happen**:
Good reason would appear when volume was created unsuccessfully.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we ne

[2018-12-28 08:39] xinyan-zhang opened #576 "Unnessesary title on resource module in home page"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Move the mouse to the resource module in home page, it presents a title with "resource", this is not necessary.
**What you expected to happen**:
No title present when move the mouse to the resource module in home page.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

*

[2018-12-28 09:03] imquanquan opened #577 "Volume errordeleting when delete all pvc on Kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

I created a StatefulSet on Kubernetes with 5 PVs. then I delete the StatefulSet and used ``kubectl delete pvc --all`` to delete all of PVs,but OpenSDS showed that one of volume errordeleting：

[code]

Then  I do some tests of this.Find out when I delete volumes one by one,all volume will detele correctly:

[code]

**What

[2018-12-28 09:20] imquanquan opened #578 "Create volumes with multiple identical names"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I perform fault testing for OpenSDS with Kubernetes and Ceph.One of test cases is simulating the ``network packet losses `` impact on OpenSDS and Kubernetes CSI when the StatefulSet start up.The test result shows that OpenSDS will create volumes with multiple identical names after network recovery,but only one of then in

[2018-12-28 09:42] chenpengzi opened #579 "dashboard volume expand dont check expand capacity"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
On the dashboard,When extending a volume, OpenSDS did not check the input capacity, only enter numbers, can't enter other
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os

[2018-12-28 09:55] chenpengzi opened #580 "Incorrect field name of volume extend"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
incorrect field name of volume extend,
origin filed: VolumeVolume
new filed: Volume Name
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname

[2018-12-28 10:15] xxwjj opened #581 "cinder driver bug"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I access the Emc array using cinder driver, I got an error blow:
[code]

So I can't start osdsdock.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Ker

[2018-12-29 07:49] clli33349 opened #583 "Delete volume snapshot got an error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I use lvm as the opensds backend block storage, and execute command blow, I got an errorDeleting.
1. Create a volume snapshot.
2. Delete the snapshot using lvremove.
3. Delete the snapshot using osdsctl.
4. List snapshot I, got an error.

IMO, that would be deleted succefully, the lvm driver should judge if the snapshot exsit,

[2019-01-02 02:11] leonwanghui commented on #581
Already solved by #582

[2019-01-02 02:11] #581 closed

[2019-01-15 03:22] lasshpanzer opened #584 "When the https request returns a StatusUnauthorized error code, the tenantID in the url is not actually modified."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[code]
When the https request returns a `StatusUnauthorized `error code, the token is modified, but the tenantID in the url is not actually modified.

**What you expected to happen**:

When `StatusUnauthorized ` occurs, both token and tenantID are modified.

**Environment**:
- Hotpot(release/branch) version: v0.4.0

[2019-01-17 01:53] #584 closed

[2019-01-21 03:57] fideltak opened #588 "Behavior of volume reduction"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
About extend volume function, When I assign new volume size lower than current size as misoperation, the volume status is changed to "extending".
And then the volume status does not goes to "available" even though getting log "controller.go:287] new size(9) <= old size(10)".
It means when do misoperation like this, I cannot operate

[2019-01-21 04:06] xing-yang commented on #588
@fideltak Thanks for reporting the issue!

[2019-01-21 04:07] xing-yang commented on #588
@xxwjj Please take a look.

[2019-01-21 04:18] xing-yang commented on #588
@wisererik Please track this.

[2019-01-21 06:53] xxwjj commented on #588
@xing-yang I've found that bugs. The source code has implemented volume size check process in controller(scheduler) layer, however, it do not recovery the status back to 'available' status when found the size is not right, and I think this logic should put in api layer.

IMO, There are two situations that need to be differentiated for state processing.
1. Some basic paramters checking which do not

[2019-01-22 08:52] lasshpanzer opened #590 "Hotpot lacks HTTPS related configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The current hotpot lacks protection for http data transmission. For the security of data transmission, HTTPS adds SSL layer which relies on certificates to verify the identity of the server and encrypt the communication between the browser and the server.

**What you expected to happen**:
Add HTTPS related configuration for beego se

[2019-01-23 01:58] fideltak commented on #588
Thank you for quick responses!! I will check it on this week.

[2019-01-24 00:55] #590 closed

[2019-01-25 09:17] lasshpanzer opened #597 "Hotpot lacks encryption and decryption."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Hotpot lacks encryption and decryption.

**What you expected to happen**:
Add encryption and decryption function in hotpot.

**Anything else we need to know?**:
1. Encrypt tool can be configured through configuration file.
2. Implemented CFB mode encryption of aes.
3. Provide encryption tools which is under dictionary pkg/utils/pwdT

[2019-01-25 14:01] fideltak commented on #588
I confirmed It's fixed.

[2019-01-25 14:01] #588 closed

[2019-01-25 15:37] xing-yang commented on #588
@fideltak Thanks!

[2019-01-26 00:49] leonwanghui commented on #588
Thanks @fideltak !!!

[2019-01-29 03:16] #597 closed

[2019-01-31 07:58] lasshpanzer opened #603 "Encryption and decryption supports for hotpot."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently hotpot lacks encryption and decryption.

**What you expected to happen**:
The design ideas are as follows:
1.Add the following contents to the opensds.conf. This can be used to select the encryption and decryption kit. Currently only supports the aes encryption tool that has been implemented. Users can also implement it th

[2019-02-02 03:42] leonwanghui commented on #603
Resolved bu #602

[2019-02-02 03:42] #603 closed

[2019-02-05 12:21] acorbellini opened #608 "osdsdock bug parsing vgs size due to locale-dependent number format"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
VGS formats numbers depending on current locale. Causing osdsdock to incorrectly parse the free and total size of the volumes. E.g. in spanish locale VGS returns 24,00 while in US locale it returns 24.00
**What you expected to happen**:
I expected `osdsctl pool list` to show the correct size of the backend
**How to reprod

[2019-02-06 04:25] hirokikmr opened #609 "devsds uninstall script syntax error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

When I executed "script/devsds/uninstall.sh", following error happened.
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `unam

[2019-02-08 02:46] #609 closed

[2019-02-11 02:23] leonwanghui commented on #608
That's really funny, @xxwjj would be assigned to check on it.

[2019-02-14 08:01] xxwjj commented on #608
@acorbellini can you give me more detail infomation. BTW, how set the locale?

[2019-02-22 07:28] leonwanghui commented on #608
@acorbellini Please take a look to see if #616 resolves this issue, thanks!

[2019-02-22 07:28] #583 closed

[2019-02-23 06:14] leonwanghui commented on #532
@pohly I think this issue has been resolved by #613, please take a look, thanks!

[2019-02-23 06:15] leonwanghui commented on #608
I will close this issue considering it's already resolved, plz be free to reopen it if anything still goes wrong.

[2019-02-23 06:15] #608 closed

[2019-03-05 03:22] BTYHunter opened #620 "Some opinions"
Some opinions
1.Can we provide some resources/Images in China? For me it is very slowly install OpenSDS especially the last step 'ansible-playbook site.yml -i local.hosts'. [link:](https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-through-Ansible)
2.It would be better if we provide OpenSDS dashboard UI in Cloud.
3.It would be better to provide the links of detailed development t

[2019-03-05 03:26] leonwanghui commented on #620
@xing-yang Could u take a look at this issue?

[2019-03-06 02:55] jackhaibo opened #621 "Fusion Storage Block version 6.3 and 8.0 driver support for hotpot."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What you expected to happen**:
We need hotpot to support the 6.3 and 8.0 version of the fusion Storage block driver.

**Anything else we need to know?**:
The following functions will be provided:
create volume
delete volume
extend volume
create volume from snapshot
create snapshot
delete snapshot
attach volume
detach volume
initialize connection
ter

[2019-03-06 03:48] xing-yang commented on #620
Thanks for the feedback.  We'll look into these.

[2019-03-08 02:07] Chechengwen opened #623 "OpenSDS UI安装成功，但用户密码不对，登入不上去，怎么看日志"
OpenSDS UI dashboard is available at http://{your_host_ip}:8088

admin/opensds@123

用户密码不对，登入不上去，

 安装是以ubuntu16.4方式安装的，

跪求帮忙，我好登入系统看看。

[2019-03-08 02:09] Chechengwen opened #624 "有没有人管了，我在中国很想把OPENSDS用起来，但ubuntun16.4的方式安装后，在页面输入admin/opensds@123登入不了，报 Internal Server Error!"
有没有人管了，我在中国很想把OPENSDS用起来，但ubuntun16.4的方式安装后，在页面输入admin/opensds@123登入不了，报 Internal Server Error!

[2019-03-08 02:10] leonwanghui commented on #623
Hi @Chechengwen , as for your problem, could you offer more info, such as some log output or screencut?

[2019-03-08 02:20] leonwanghui commented on #624
please discuss it in #623

[2019-03-08 02:24] leonwanghui commented on #623
From the problem you mentioned, there could be several reasons. So here is some questions for debugging your problem:
* How were u install opensds, ansible or source code build?
* Can u check if all opensds deamon service running by executing `ps -ef |grep osds`?
* U can find the log in `/var/log/opensds/` folder.
* Can u try to use `osdsctl` (CLI tool) to test if it's working?

[2019-03-08 02:27] Chechengwen commented on #623
Wang总，您好！
                OpenSDS UI dashboard is available at http://{your_host_ip}:8088

admin/opensds@123

用户密码不对，登入不上去，

 安装是以ubuntu16.4方式安装的，

跪求帮忙，我好登入系统看看。

ccwbbc@163.com

发件人： Leon Wang
发送时间： 2019-03-08 10:10
收件人： opensds/opensds
抄送： Chechengwen; Mention
主题： Re: [opensds/opensds] OpenSDS UI安装成功，但用户密码不对，登入不上去，怎么看日志 (#623)
Hi @Chechengwen , as for your problem, could you offer more info, su

[2019-03-08 02:29] leonwanghui commented on #623
Hi, I think it would be better if we talk offline, I will send u a email right now.

[2019-03-08 02:35] leonwanghui commented on #623
你好我是opensds社区开发者王辉，我觉得我们可能在微信上聊更方便些，欢迎加入opensds社区中国开发者群，群二维码详见附件

Chechengwen <notifications@github.com>于2019年3月8日 周五10:27写道：

[2019-03-08 03:59] Chechengwen commented on #623
wang总，您好！
               能看到有你的回复，太高兴了，
                 ps -ef |grep osds?
                和
                 /var/log/opensds/ folder.下的ERROR文件，帮忙看看有什么问题

ccwbbc@163.com

发件人： Leon Wang
发送时间： 2019-03-08 10:24
收件人： opensds/opensds
抄送： Chechengwen; Mention
主题： Re: [opensds/opensds] OpenSDS UI安装成功，但用户密码不对，登入不上去，怎么看日志 (#623)
From the problem you mentioned, there could be several reasons. So here is

[2019-03-11 07:31] fideltak opened #625 "Cannot get metadata field when volume creation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
CreateVolumeOpts.GetMetadata() seems not able to get metadata field in JSON body when making new volume.
http://petstore.swagger.io/?url=https://raw.githubusercontent.com/opensds/opensds/master/openapi-spec/swagger.yaml#/Block%20volumes/post_v1beta__projectId__block_volumes

[code]

**What you expected to happen**:
I want to get bel

[2019-03-12 14:43] xing-yang commented on #625
@wisererik Can you take a look of this?  Thanks.

[2019-03-16 10:56] wisererik commented on #625
@fideltak Hi fideltak, thank you for your question, I have already submit PR to solve this issue.

[2019-03-18 01:17] leonwanghui commented on #625
Hi @fideltak , I think this bug has been fixed now, please take a test, thx!

[2019-03-18 02:34] fideltak commented on #625
@wisererik ,@leonwanghui
Thanks. I just checked it has fixed.

[2019-03-18 02:34] #625 closed

[2019-03-18 02:58] yuejuSDS commented on #579
@chenpengzi this bug has been fixed

[2019-03-18 06:12] yuejuSDS commented on #580
Hi,@chenpengzi this bug has been fixed, you can colse the issue.

[2019-03-18 06:14] #579 closed

[2019-03-18 06:14] #580 closed

[2019-03-18 06:17] yuejuSDS commented on #576
@xinyan-zhang this bug has been fixed, you can colse the issue.

[2019-03-18 06:19] #576 closed

[2019-03-18 13:16] leonwanghui commented on #532
Will close it, plz reopen it freely

[2019-03-18 13:16] #532 closed

[2019-03-20 01:24] #621 closed

[2019-03-20 07:52] leonwanghui commented on #528
Hi @wisererik, I'm wondering what's the status of this issue. I'll close it for now, if u think it's still a problem please open an issue at [dashboard](https://github.com/opensds/opensds-dashboard/issues) project.

[2019-03-20 07:52] #528 closed

[2019-03-20 07:52] leonwanghui commented on #571
@bfliujinlong I'll close this issue, please be free to reopen it.

[2019-03-20 07:52] #571 closed

[2019-03-20 07:53] #572 closed

[2019-03-20 07:54] leonwanghui commented on #578
Just wondering what's the status of this issue : )

[2019-03-20 07:55] leonwanghui commented on #494
Close it since the dashboard part has been moved as a separate project.

[2019-03-20 07:55] #494 closed

[2019-03-20 07:57] leonwanghui commented on #575
I think that's the side effect of async operation, u can find the error in the log file. But we should design a pattern to notify users the cause of errors.

[2019-03-21 06:54] Shruthi-MN opened #633 "PUT operation for profiles should not allow to change​ all the properties of profile"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
PUT operation for profile allowing to change/modify all the properties of profile
PUT /v1beta/{projectId}/profiles/{profileId}
Example:
{
  "name": "string",
  "storageType": "string",
  "description": "string",
  "provisioningProperties": {
    "dataStorage": {
      "recoveryTimeObjective": 0,
      "provisioningPolicy": "string",

[2019-03-21 07:56] leonwanghui commented on #633
That's a good question, actually currently we don't support PUT operation on profile from both `osdsctl` and UI dashboard. But we should definitely fix that.

[2019-03-27 07:49] #624 closed

[2019-03-27 07:49] #623 closed

[2019-03-27 07:50] leonwanghui commented on #556
I will close this issue, please reopen it if there are still some problems.

[2019-03-27 07:50] #556 closed

[2019-03-27 07:51] leonwanghui commented on #320
Would close it : )

[2019-03-27 07:51] #320 closed

[2019-03-27 07:54] leonwanghui commented on #291
Already resolved by #592  #598 #611

[2019-03-27 07:54] #291 closed

[2019-03-27 07:55] #426 closed

[2019-03-27 07:55] leonwanghui commented on #577
Any update on this issue?

[2019-03-28 01:18] leonwanghui commented on #633
@wisererik Please take a look at this issue.

[2019-04-01 03:00] leonwanghui opened #638 "Some errors when installing devsds"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I run `script/devsds/install.sh`, some errors occurred:
![image](https://user-images.githubusercontent.com/24707117/55301046-37739180-546d-11e9-81ea-f88756a80c57.png)

Here is my configuration of `script/devsds/local.conf`:
[code]

**What you expected to happen**:
Fix this error

**How to reproduce it (as minimally and precisel

[2019-04-01 03:05] leonwanghui commented on #638
@wisererik @xxwjj Please take a look, thanks!

[2019-04-03 03:44] leonwanghui opened #641 "Some errors with status machine"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently when user creates a volume, api-server will create a volume object in database and update the status to `creating`, then controller will handler the rest and finally update the status to `available` or `error` based on the return value. But if some errors occur when apiserver connects controller, the operation would be aba

[2019-04-04 06:30] fideltak opened #642 "Cannot unmarshal metadata field in Http request body"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I try to make a volume via OpenSDS controller API, get error response with message.

**{"code":400,"message":"parse volume request body failed: json: cannot unmarshal bool into Go struct field VolumeSpec.metadata of type string"}**

HTTP POST request body is
[code]
I guess metadata field only accept string. The type would be no

[2019-04-04 07:10] xxwjj commented on #642
@fideltak thanks for your questions, I will fix it as soon as possible.BTW, metadata is not recommended to be use by  user, it only supposed to be used by driver store some extra data.

[2019-04-04 08:23] fideltak commented on #642
@xxwjj Thank you for your advice. I try to send storage vendor specific options which not defined in CreateVolumeOpts by using Metadata field via API....
Any easy way other than metadata?

[2019-04-04 18:17] xing-yang commented on #642
@fideltak Is it possible to define these in the profile so create volume will have access to it?

[2019-04-05 06:46] fideltak commented on #642
@xing-yang I tried to create custom profile to send vendor specific values by using customProperties like adding below values into my custom profile.
[code]
But I got error from osdslet when create volume with my custom profile.
[code]
Can I use customProperties in profile at current version?

[2019-04-05 13:53] xing-yang commented on #642
@fideltak What is the profile name you created?  The error message suggested that the profile passed in is "default".  Can you show the whole content of your profile?

[2019-04-05 14:20] fideltak commented on #642
@xing-yang the profile is
[code]
And I used it in volume create request.
[code]
after that, got msg from osdslet.
[code]

[2019-04-05 17:57] xing-yang commented on #642
@fideltak do you have a config yaml file for your storage?  How does that look like?

[2019-04-05 17:57] xing-yang commented on #642
@xxwjj This might be a bug in the code.  Can you take a look?

[2019-04-06 02:28] fideltak commented on #642
@xing-yang Do you mean the yaml in /etc/opensds/driver?
[code]
opensds.conf is below for just in case...
[code]

[2019-04-06 08:33] imquanquan commented on #577
The problem still exists, many rbd can't be deleted normally

[2019-04-07 02:06] xing-yang commented on #642
@fideltak Yes.  I think you need pool information in the yaml file.  It needs to match what's in the profile.  See this example here:

https://github.com/opensds/opensds/blob/master/contrib/drivers/huawei/fusionstorage/testdata/fusionstorage.yaml

Your customProperties should be under "advanced".

[2019-04-09 10:18] imquanquan opened #646 "osdsdb could not get the information from /etc/opensds/driver/ceph.yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I found that osdsdb could not get the information from `/etc/opensds/driver/ceph.yaml` when I tried OpenSDS v0.5.1 and v0.5.0 .

My  `/etc/opensds/driver/ceph.yaml` :

[code]

But `etcdctl` showed that:

[code]

As we have seen，The value of the `extras` field is empty.This will cause the `accessProtocol`
 field to become `iscsi`.

[2019-04-09 14:07] leonwanghui commented on #646
@lijuncloud Can u have a test with this issue? Thanks!

[2019-04-10 01:55] imquanquan commented on #646
Does the v0.5.1  Sushi  not support RBD protocol？
![image](https://user-images.githubusercontent.com/13776945/55845993-b015d480-5b76-11e9-834e-57145bc5b1a5.png)

[2019-04-10 03:23] xing-yang commented on #642
@fideltak We found a bug.  @xxwjj is working on a fix.  Will let you know once the fix is available.

[2019-04-11 06:36] xxwjj opened #649 "iscsi connector cannot detach"
There is a  logcal bug, that the ```logoutFalg == ''0''``` will nerver be true, enven though I execute iscsi rescan comamnd: "iscsiadm -m session -R".  It seems that the rescan command only refresh the new added lun, while could not refresh lun the which has already been removed in target side . so that the link in '/dev/disk/by-path' wouldn't be removed too. And in some linux system, such as Suse

[2019-04-11 11:41] leonwanghui commented on #642
Hi @fideltak @xing-yang , this issue has been solved, please take a test at the latest code : )

[2019-04-11 17:42] xing-yang commented on #642
Hi @fideltak, PR #648 fixed this issue.  Can you please give a try?  Thanks.

[2019-04-12 03:43] fideltak commented on #642
@xxwjj @xing-yang OK, Thanks. let me check.

[2019-04-15 03:39] xxwjj opened #653 "OpenSDS support Host-based Array-based replication"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
OpenSDS can only support one replication mode host-based or array-based. it cann't support both at same time.
**What you expected to happen**:
Support both at same time.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.

[2019-04-17 07:54] #577 closed

[2019-04-17 07:59] imquanquan commented on #577
I closed this issues,and test it on hotpot v0.5.1 later.I will reopen it if there are still some problems.

[2019-04-18 00:33] #638 closed

[2019-04-18 00:49] leonwanghui commented on #575
I think one possible solution is adding a new field to indicate the reason why volume crashes, then controller can update it.

[2019-04-18 02:49] leonwanghui opened #662 "Create lvm snapshot error in containerized deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently Hotpot supports containerized deployment, but when I tested for lvm backend, there were some errors in creating snapshot operation, here is the error log:
![image](https://user-images.githubusercontent.com/24707117/56333616-70c73380-61c7-11e9-8e81-1654270690a9.png)

**What you expected to happen**:
Fix the snapshot create

[2019-04-18 12:56] xing-yang commented on #642
Hi @fideltak , have you got a chance to test this fix?  Thanks.

[2019-04-19 03:10] fideltak commented on #642
@xing-yang , It looks fixed. thx.

[2019-04-19 03:10] #642 closed

[2019-04-19 03:13] xing-yang commented on #642
That's awesome!  Thanks @fideltak!

[2019-04-19 05:54] leonwanghui commented on #662
Confirmed with the answer, user needs to execute `modprobe dm_thin_pool` in the host before installing opensds cluster.

[2019-04-19 05:54] #662 closed

[2019-04-19 06:51] xxwjj opened #667 "Support diffrent kinds of netwokinterface name in keystone container entrypoint.sh script"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
entrypoint.sh script get ip from fixed network interface eth0, it 's not flexible.
**What you expected to happen**:
Support diffrent kinds of netwokinterface name in keystone container entrypoint.sh script .

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Ho

[2019-04-19 08:42] xxwjj opened #671 "Make keystone authentication the error information more accurately"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. opensds cli running in keystone mode, if you did not load the keystone credential EVN, it will get a very long error information which make user confusing.

[code]

**What you expected to happen**:
1. make the error information more accurately.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we

[2019-04-19 08:46] #667 closed

[2019-04-19 10:16] Click2Cloud-Gamma commented on #641
@leonwanghui : Please refer #674 for this issue, Thanks

[2019-04-20 00:45] #671 closed

[2019-04-25 08:39] fideltak opened #686 "How can I get profile details in my storage driver for OpenSDS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I need to get profile details in my storage driver for OpenSDS.
It looks we can get profile ID only by using pb.CreateVolumeOpts.GetProfileId.
Is there easy way to get contents in profiles for getting storage specific values in "customProperties"?
This request is related this [issue](https://github.com/opensds/opensds/issues/642).

[2019-04-25 09:41] leonwanghui commented on #686
Hi @fideltak ,I thought we have added profile details in `pb.CreateVolumeOpts` and `pb.DeleteVolumeOpts`, you can fetch it using `pb.CreateVolumeOpts.GetProfile()`.

[2019-04-25 13:18] xing-yang commented on #686
Hi @fideltak This issue should have been fixed by this PR: https://github.com/opensds/opensds/pull/648.  There is an example in that PR describing how to get customProperties of a profile.

A "profile" parameter is added to CreateVolumeOpts.  So you should be able to get the profile by pb.CreateVolumeOpts.GetProfile().  The "profileId" field is still there but we will remove it in the future.

See

[2019-04-25 13:28] skdwriting opened #688 "[Feature] Logger Module for OpenSDS"
/kind feature

**Requirement**:
Need a logger module which can be used by all the modules.
Standard log levels and logging metadata useful
Logger framework
Note: Can use any other opensource modules as well

[2019-04-25 14:17] skdwriting opened #689 "[DevEnv] Coding Guidelines for Developers"
/kind feature
/kind development environment improvement

**What happened**:
Provide clear coding guideline and process on development
1. File Naming
2. Folder Naming (if any)
3. Style Guide - Source Code
+anything else?

[2019-04-25 14:44] fideltak commented on #686
@xing-yang , @leonwanghui I missed it... Thank you for your support!!

[2019-04-25 14:44] #686 closed

[2019-04-25 14:48] xing-yang commented on #686
@fideltak You are welcome!  Thanks for working on the driver!

[2019-04-26 01:17] leonwanghui commented on #689
Please refer to [CONTRIBUTING.md](https://github.com/opensds/opensds/blob/master/CONTRIBUTING.md).

[2019-04-26 01:19] leonwanghui commented on #688
We already had a `pkg/logs` defined to encapsulate `github.com/golang/glog` tool, but you are right we should keep it more standard.

[2019-04-26 09:03] rhsakarpos opened #690 "Consider to have error checks methods common. Error handling module?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind feature

**What happened**:
To add a common filter or handler framework to validate input parameters using a regex.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel

[2019-04-26 09:06] rhsakarpos commented on #690
@skdwriting please add the backlog label to this issue, I am not authorized to add it. Thanks.

[2019-04-26 09:10] rhsakarpos opened #691 "(backlog)Add configuration for all 3rd party telemetry interfaces"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-04-26 09:10] rhsakarpos commented on #691
@skdwriting please assign the backlog label to this.

[2019-04-26 09:23] rhsakarpos opened #692 "(backlog)Check on the security configuration of Prometheus"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-04-26 09:23] rhsakarpos commented on #692
@skdwriting please assign the backlog label to this.

[2019-04-26 09:41] fideltak opened #693 "CANNOT get profile data when creating sanpshot"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When creating snapshot, I call `pb.CreateVolumeSnapshotOpts.GetProfile()` to parse options
 of snapshot in my storage driver. But `pb.CreateVolumeSnapshotOpts.GetProfile()` returns nothing (not nil, it is string but blank).
[code]
[code]

**What you expected to happen**:
Available to get profile data by using `pb.CreateVolumeSnapsho

[2019-04-26 13:12] xing-yang commented on #693
@fideltak Thanks for reporting this issue!  Yes, we should make a similar fix for profile in CreateVolumeSnapshotOpts like what we did for CreateVolumeOpts in this PR: https://github.com/opensds/opensds/pull/648.

The "profile" field is in CreateVolumeSnapshotOpts: https://github.com/opensds/opensds/blob/development/pkg/model/proto/model.proto#L256

Need to make a change to pass in profile for sna

[2019-04-26 13:51] NajmudheenCT opened #695 "Telemetry Driver: Read metric support list from Config file"
Telemetry Driver: Read metric support list from Config file

/kind feature

**What is needed**:
Telemetry Driver: Read metric support list from Config file

[2019-04-27 05:58] fideltak commented on #693
@xing-yang It seems `pb.ExtendVolumeOpts.GetProfile()` has same issue.

[2019-04-27 17:40] xing-yang commented on #693
Can you try this in the CreateVolume func in your driver?

	profile := model.NewProfileFromJson(opt.Profile)
	log.Errorf("properties: %+v", profile.CustomProperties)

What is the output of "osdsctl profile show <your profile id>"?

[2019-04-28 00:57] leonwanghui commented on #693
Hi @fideltak, I think you are right, currently we only support fetching profile from `CreateVolumeOpts` and `DeleteVolumeOpts`, if you look at [here](https://github.com/opensds/opensds/blob/development/pkg/controller/controller.go#L98), that's because we thought profile was only required when create and delete volume, but we should extend that to other methods, thanks for your question!

@xing-yan

[2019-04-28 01:15] fideltak commented on #693
Hello @xing-yang  @leonwanghui . OK, I got it. Thanks.
Pls discuss about this.

[2019-04-30 07:59] leonwanghui opened #701 "Missing authority validation for file share and metrics API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
For #687 #694 and #698 , some keystone policy configuration should be configured under [policy.json](https://github.com/opensds/opensds/blob/master/examples/policy.json), or else the authority validation would fail when authenticating with Keystone service.

**What you expected to happen**:
Add some policy configuration in [policy.j

[2019-04-30 08:43] imquanquan commented on #646
I found the root case of the problem.The pools have no extras field in ListPools method in v0.5.1.

https://github.com/opensds/opensds/blob/b9cd3fe65a676e8b6fc1d507bcacfb8f1b242618/contrib/drivers/ceph/ceph.go#L435-L450

The ListPools method is called by the Discover method and then sends data to osdsdb every minute.

https://github.com/opensds/opensds/blob/b9cd3fe65a676e8b6fc1d507bcacfb8f1b242618

[2019-04-30 09:04] leonwanghui commented on #646
Add @xxwjj

[2019-05-02 13:43] NajmudheenCT opened #706 "Telemetry: GenericResponseResult is omitting value "0" in the response or urmarshell"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Yes
kind: bug

**What happened**:
I have noticed the marshalled result from msgJSON, _ := json.Marshal(resMsg) call in GenericResponseResult function omitting valur field if the value is "0"
example :
resMsg = {interface {} | *[]github.com/opensds/opensds/pkg/model.MetricSpec} len:2, cap:2
 0 = {github.com/opensds/opensds/pkg/model.MetricSpec}
  Instan

[2019-05-02 20:42] fideltak opened #707 "Volume attach option cannot get correct specified access protocol"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When execute volume attachment via API request like below body, `pb.CreateVolumeAttachmentOpts.GetAccessProtocol()` outputs "iscsi" even though specified "fibre_channel".
[code]
However I can get AccessProtocol as "fibre_channel" in response body.
[code]

**What you expected to happen**:
I want to get correct AccessProtocol by using

[2019-05-03 02:33] xing-yang commented on #707
@xxwjj Please take a look.

[2019-05-05 01:16] leonwanghui commented on #707
@fideltak You mean you can get  the right answer in the response but got the wrong access_protocol inside controller module, right?

[2019-05-05 01:23] leonwanghui commented on #707
@fideltak Oh I guess I have found the reason, if you look at [here](https://github.com/opensds/opensds/blob/development/pkg/controller/controller.go#L324), the accessProtocol value is fetched from `StoragePoolSpec` structure, so you need to configure the `AccessProtocol` field in pool config file.

[2019-05-05 01:26] leonwanghui commented on #706
Hi @NajmudheenCT, can u pull a PR to solve it?

[2019-05-05 08:42] #646 closed

[2019-05-05 08:50] imquanquan commented on #578
This bug has fixed in hotpot v0.5.X.

[2019-05-05 08:50] #578 closed

[2019-05-05 09:52] leonwanghui commented on #693
@fideltak The patch has been merged, could u take a test?

[2019-05-06 07:17] leonwanghui opened #713 "Something wrong with OpenSDS CLI output"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I create a new profile on the dashboard with specified customized properties `capabilities:multiAttach: <is> true`, something went wrong when I check the profile detail using OpenSDS CLI:
[code]

**What you expected to happen**:
Fix the bug of CLI output.

**How to reproduce it (as minimally and precisely as possible)**:

**Any

[2019-05-06 08:44] #713 closed

[2019-05-07 05:51] fideltak commented on #693
@leonwanghui `CreateVolumeSnapshotOpts.GetProfile()` is working good. thanks.
But `ExtendVolumeOpts.GetProfile()` seems not be able to get `customProperties` section in profile...
[code]
[code]

[2019-05-07 06:08] leonwanghui commented on #693
I will take a look at it, thanks!

[2019-05-07 06:15] leonwanghui commented on #693
Can you describe how do you pass the profile when you extend the volume?

[2019-05-07 07:02] fideltak commented on #693
Sorry I didn't make it clear enough. Now executed commands again to extend volume.
[code]
`nimble_create_ex01 ` is profile for extending volumes.
[code]
I need to get `customProperties` when extending volume.
Then executing below commands to extend volume.
[code]
And then the output of ExtendVolumeOpts.GetProfile() is below.
It looks another profile was specified when executing command to extend v

[2019-05-07 08:47] leonwanghui commented on #693
I think I got your point, the main reason is when you send a extend volume request, there would be no place for `ExtendVolumeSpec` to locate `ProfielId`, and opensds apiserver will check the database and fetch the profileId from `VolumeSpec`, the source code is implemented [here](https://github.com/opensds/opensds/blob/development/pkg/api/controllers/volume.go#L222).

[2019-05-07 08:48] leonwanghui commented on #693
That would mean currently Extend volume doesn't support pass other parameters than volumeId and newSize.

[2019-05-07 09:00] fideltak commented on #693
@leonwanghui Understood. I will remove the functions to parse options in profile at extending volume section.
I think I can close this case if you don't think about the enhancement of passing values in profile for extending volume.
Can I?

[2019-05-07 09:02] leonwanghui commented on #693
Sure, please go ahead.

[2019-05-07 09:04] fideltak commented on #693
@leonwanghui thanks a lot everytime!

[2019-05-08 14:28] daramosch opened #719 "issue with osdsctl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

ERROR:
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <title>Not Found</title>
                <style type="text/css">
                        * {
                                margin:0;
                                padding:0;

[2019-05-08 14:36] xing-yang commented on #719
Hi @daramosch, thanks for testing OpenSDS and opening an issue!  The bug description said Hotpot version is 2.4.6.0, but the latest release is v0.5.1:
    https://github.com/opensds/opensds/releases

I wonder where it shows 2.4.6.0?  Can you also please provide the LVM yaml file?  Thanks.

[2019-05-08 15:45] daramosch commented on #719
Hi Xing! Thanks for the Quick Reply, Sorry I believe that is the ansible playbook version. Checked on the hotpot release and states:
###########
# RELEASE #
###########

# If user specifies intalling from release,then he can choose the specific version
hotpot_release: v0.5.1 # The version should be at least v0.2.1

Here is also my LVM YAML:

tgtBindIp: My Server IP # change tgtBindIp to your real

[2019-05-08 15:52] daramosch opened #720 "osdsctl Replication stuck at creating"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Create 2 LVM Pools from 2 Different VGs which used IBM SVC and the Other Uses infinibox.
I was able to create volumes, xfs format them and mount it to the OS from the Volume ID on osdsctl.

However when I tried to create replication between them they get stuck at creating status which does not allow me to do anything beyond that po

[2019-05-08 20:26] xing-yang commented on #719
I see that "tgtBindIp" is not modified.  It should be the IP address of the server where you are running the ansible script.

In the following file, change host_ip to your server ip address and re-run the ansible script.  It should set the host_ip in group_vars/lvm/lvm.yaml and group_vars/common.yml automatically for you.

https://github.com/opensds/opensds-installer/blob/master/ansible/script/glo

[2019-05-08 20:29] xing-yang commented on #720
It looks like you have passed the installation issue reported here: https://github.com/opensds/opensds/issues/719?

So I assume you are trying to do host-based replication?  Have you installed DRBD on your servers?

[2019-05-08 21:47] daramosch commented on #719
Hi Xing, I modified the output so my IP is not visible. I did modified the entry

[2019-05-08 21:48] daramosch commented on #720
This is a different Environment this is an installation on Redhat while #719 is with Ubuntu

[2019-05-09 00:01] xing-yang commented on #719
Did you export the opensds endpoint?  Are you using keystone?  Can you log into dashboard?
https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-through-Ansible#opensds-cli

[2019-05-09 00:49] leonwanghui commented on #719
@daramosch Here is some potential cause from my side:
* Didn't export `OPENSDS_ENDPOINT` in the right style, which should be `http://{server_ip}:50040`
* If installed from keystone (it should be by default), you need to export some keystone environment variables, but it depends on which way you specified, source code or container?

Last question is which branch of opensds-installer you are using?

[2019-05-09 07:39] hirokikmr opened #722 "Can not set osdsdock api-endpoint using configuration file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I used following configuration. (osdsdock api_endpoint is '0.0.0.0:50051')
But osdsdock used default api_endpoint configuration( '0.0.0.0:50050')
/etc/opensds/opensds.conf
[code]
**What you expected to happen**:
Can set osdsdock api-endpoint using configration file

**How to reproduce it (as minimally and precisely as possible)**:
1

[2019-05-09 07:49] leonwanghui commented on #722
Yes, the reason why we set it as a static IP and address is from [here](https://github.com/opensds/design-specs/blob/master/specs/capri/DNS_Resolution_Proposal_in_Hotpot.md), so I'm curious why you want to change the listen IP of osdsdock service, we are glad to set it as configurable if there are some use cases.

[2019-05-09 10:23] hirokikmr commented on #722
@leonwanghui  Thank you for your reply.
I want to start multiple osdsdock services in one server. So I want to change the listen port of osdsdock.
I think there are some use case. For example managing multiple storage, such as lvm, and ceph, in one server or starting both attacher and provisioner osdsdock service for using the server resources effectively.

[2019-05-09 11:32] leonwanghui commented on #722
@In your usecase, I suggest you deploy one osdsdock, but config enabled_backends with several backend types (such like `enabled_backends=lvm,ceph`).

[2019-05-09 15:24] xing-yang opened #729 "Pre-defined Profile Properties should not be required"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Should not make profile.ProvisioningProperties required.  We can have a default for required parameters and also honor custom properties.

https://github.com/opensds/opensds/pull/725/files#diff-1d289dce075e3324bbff9b3b953639e0R63

profile.ProvisioningProperties

**What you expected to happen**:

**How to reproduce it (as m

[2019-05-11 06:18] fideltak commented on #707
@leonwanghui Thanks! I missed it...

[2019-05-11 06:18] #707 closed

[2019-05-13 07:55] Shruthi-1MN commented on #729
It is to check the StorageAccessCapability, if we won't follow the order then it will consider it as custom property so just to follow the order of properties specification i have added ProvisioningProperties and datastorage. Those are all not pre-defined. Admin still can add custom properties.

[2019-05-13 11:44] hirokikmr commented on #706
Hi, @leonwanghui , @NajmudheenCT , I have similar issue in 'GET pools' REST-API response.
When "freeCapacity" is "0", "freeCapacity" is omitted in the response as follows.
Is it the same cause?

[code]

[2019-05-13 20:19] xing-yang commented on #706
Looks like a bug.  @leonwanghui PTAL.  Thanks.

[2019-05-14 00:45] leonwanghui commented on #706
Hi, the reason why the JSON body is omit is because we defined a `omitempty` tag in each field of structure, that would let system skip marshal those fields which is empty, but if you do unmarshal you will find the field would be back with 0 value.

[2019-05-14 01:43] hirokikmr commented on #722
@leonwanghui
Thank you for your suggestion! I was mistaken about the config enabeled_backends.

Please let me add information about another use case, it is according to the following doc(2.2.4 Configure Host-based replication).
https://github.com/opensds/opensds/blob/master/docs/readthedocs/installation/OpenSDS%20Bali%20POC%20Deployment.pdf

[2019-05-14 01:48] leonwanghui commented on #722
@xing-yang PTAL, thanks!

[2019-05-14 02:01] xing-yang commented on #722
Hi @hirokikmr are you referring to the following section on host-based replication config setting?  Are you not able to add an attacher dock this way?

[osdsdock]
api_endpoint = 192.168.2.2:50051
log_file = /var/log/opensds/osdsdock.log
bind_ip = 192.168.2.2
dock_type = attacher

[2019-05-15 01:56] imquanquan opened #737 "Osdslet process exited abnormally when I deleted a volume in the error state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I deleted a volume in the error state,the osdslet process exited abnormally.
Contents of `osdslet.err`:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

Disconnect the network and create a Volume:

[code]

Waiting for connection timeout,the volume status c

[2019-05-15 02:12] leonwanghui commented on #737
Can you explain which version you are using?

[2019-05-15 02:24] imquanquan commented on #737
**Environment**:
- Hotpot(release/branch) version: Capri release v0.5.1
- OS (e.g. from /etc/os-release): Debian 9
- Kernel (e.g. `uname -a`): 3.16.0-6-amd64

![image](https://user-images.githubusercontent.com/13776945/57744415-ac3c1b80-76fb-11e9-9d0c-c0a94a277e72.png)

[2019-05-15 06:28] wisererik commented on #737
Hi @imquanquan the reason of nil error is that osdslet didn't get volume from db with id `ebd77a23-e79e-4c70-b6d2-0ec3052ceab6` and didn't check the return values too. This is an issue. I'm confused about why  osdslet didn't get volume from db.
can you send the result of following commands:

- osdsctl volume list
- osdsctl profile list

[2019-05-15 15:40] daramosch commented on #719
@xing-yang Hi! I did export the Opensds_endpoint, I am using Keystone and I am able to login to the dashboard. I did create an LVM Backend Pool using an Storage Array Volume. I am able to list the pool and volumes using osdsctl pool list and volume list commands.

However When I access the OpenSDS Dashboard. I am not able to see any volumes.

[2019-05-15 15:52] xing-yang commented on #719
Hi @daramosch , I assume you run osdsctl and log into dashboard both as admin?  In the dashboard, can you see the LVM pool?  Can you create a profile and try to create a volume?

[2019-05-15 16:09] daramosch commented on #719
Hi @xing-yang , yes I am using the admin credentials and was able to create volumes and a profile from osdsctl, but i am not seeing the pool neither the volume on the dashboard.
![Capture1](https://user-images.githubusercontent.com/33700305/57791212-8877d600-76f9-11e9-9782-86a9387f0ac4.JPG)
![Capture](https://user-images.githubusercontent.com/33700305/57791223-8dd52080-76f9-11e9-9bde-92353b4dae6e.

[2019-05-15 17:54] xing-yang commented on #719
That is weird.  I wonder if the database is messed up due to multiple ansible installation runs.  @leonwanghui do you have any suggestions?

[2019-05-15 18:59] daramosch commented on #719
I thought the same about the ansible installation, but this is a brand new VM I just commission and install from scratch and still the lack of visibility on the dashboard persists

[2019-05-16 01:06] leonwanghui commented on #719
@daramosch Did you use the latest version of opensds-dashboard, could u try `docker pull opensdsio/dashboard:latest` to see if it's ood? Thanks!

[2019-05-16 01:09] leonwanghui commented on #719
And also another suggestion is you could upgrade your installation version to v0.5.2 which is the latest version, you can achieve it by pulling the latest version of opensds-installer.

[2019-05-16 08:43] imquanquan commented on #737
Hi @wisererik before deleting the volume:

[code]

After deleting the volume:

[code]
osdslet.err
[code]

[2019-05-16 08:46] imquanquan commented on #737
This bug will not appear in hotpot v0.5.2,and can only be reproduced in hotpot v0.5.1.

[2019-05-17 01:36] leonwanghui commented on #737
I think what you mentioned is a bug we have fixed in v0.5.2, could you upgrade and use the latest v0.5.2?

[2019-05-17 01:43] imquanquan commented on #737
Yes, I upgraded the hotpot to v0.5.2 yesterday and found that the bug has been fixed.

[2019-05-17 01:45] leonwanghui commented on #737
Cool, if so can you close this issue now?

[2019-05-17 01:46] #737 closed

[2019-05-17 01:53] leonwanghui commented on #722
Hi @hirokikmr, any update on this issue? If not, please close it : )

[2019-05-17 08:15] hirokikmr commented on #722
@leonwanghui @xing-yang
I retried the configration.
When I set "dock_type" to "attacher", the api_endpoints of osdsdock is able to change.
I'm sorry for my lack of confirmation.
Thank you for your support!

[2019-05-17 08:15] #722 closed

[2019-05-17 09:20] rhsakarpos opened #746 "(backlog)Naming consistency between LVM metrics driver and exporter"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
The format of the metrics data received by Prometheus, is different for data coming from driver and being pushed to Prometheus vs. the data being scraped from the exporter

**What you expected to happen**:
The naming conventions for both data should be the same, so there is no difference when the data reaches Prometheus

[2019-05-17 09:21] rhsakarpos opened #747 "(backlog)Disk metrics support"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
To collect disk metrics in the LVM driver

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2019-05-17 09:23] rhsakarpos opened #748 "(backlog)Metrics interface type change to use storage type only"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
Change the POST API for collect metrics, to take the storage type as input, such as LVM, CEPH etc.
For the given type, collect metrics for all the resource types and instances

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**E

[2019-05-17 09:24] rhsakarpos opened #749 "(backlog)KAFKA configuration and integrate with Anomaly detection"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature
To integrate the KAFKA output with Anomaly detection, define and update the code to write metrics data to KAFKA in the format expected by Anomaly detection module

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2019-05-17 09:24] rhsakarpos opened #750 "(backlog)Metric Adapters update for naming consistency (Prometheus and Node Exporter)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
To ensure that there is no loss of metric data and metadata (labels etc.) when data is exported to Prometheus push gateway and/or NodeExporter

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch

[2019-05-17 09:26] rhsakarpos opened #751 "(backlog)Telemetry Installer completion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-05-17 09:27] rhsakarpos opened #752 "(backlog)Telemetry Document creation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-05-17 09:28] rhsakarpos opened #753 "(backlog)CEPH driver integration and testing, including resource type changes in API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-05-17 09:33] rhsakarpos opened #754 "Telemetry UI integration"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
Integrate the dashboard and the backend API for telemetry APIs. Includes the configuration file upload/download and GET API for re-direct URLs

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/bra

[2019-05-20 11:13] hirokikmr opened #756 "The HTTP Content-type header of REST-API response is not 'application/json'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Hi. When I execute OpenSDS REST-API, the HTTP Content-type header of REST-API response is 'text/plain' as follows.
I think it should be 'application/json'.

[code]

**What you expected to happen**:
The HTTP Content-type header of REST-API response is 'application/json'.

**How to reproduce it (as minimally and precisely as possible)

[2019-05-20 11:39] wisererik commented on #756
@xxwjj please take a look at it

[2019-05-20 14:47] xxwjj opened #758 "Add precheck when deleting profile"
**Is this a BUG REPORT or FEATURE REQUEST?**:

testing steps:
1.create snapshot specified a profile.
2. delete the profile.
3. delete snapshot.

**What happened**:
Cann't delete the snapshot:
[code]
logs:
[code]
**What you expected to happen**:

Check if the profile is used by others, if so ,return an error.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we nee

[2019-05-21 12:35] hirokikmr opened #760 "Osdsdock does not release the connection between osdsdock and storage device"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Hi. After executing osdsdock for a while, there were many connections between osdsdock and storage device. When I use fujitsu storage device, error happened because exceed number of connection limitation.
I think it is because Discover method in osdsdock does not call Clean method for storage drivers.

**What you expected to happen*

[2019-05-21 15:29] #760 closed

[2019-05-22 06:37] leonwanghui commented on #746
Already solved by #744 , please close this issue.

[2019-05-22 06:46] rhsakarpos commented on #746
solved by #744, closing

[2019-05-22 06:46] #746 closed

[2019-05-23 10:07] hirokikmr opened #770 "When creating volume attachment failed, 'AccessProtocol' is empty"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I failed to create volume attachment, 'AccessProtocol' was empty.
Storage driver needs to refer to 'AccessProtocol' in order to switch processing in deleting volume attachment.
Even in the case of an error, could you store the value of 'AccessProtocol'?

[code]

**What you expected to happen**:

**How to reproduce it (as minima

[2019-05-23 10:38] rhsakarpos commented on #691
merged, https://github.com/opensds/opensds/pull/767

[2019-05-23 10:38] #691 closed

[2019-05-23 10:50] rhsakarpos commented on #750
merged, #771

[2019-05-23 10:50] #750 closed

[2019-05-23 11:23] NajmudheenCT opened #773 "Telemetry: Handle unavailability of syststat error from system"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
It is noticed that when systat is not installed and POST collection is triggered ,
This is noticed only in in -Ubuntu SMP Thu Jul 12 15:51:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
the dock process goes down as the driver is failing to parse some command outputs.
**What you expected to happen**:

**How to reproduce it (as minimally

[2019-05-24 10:10] leonwanghui commented on #770
@xxwjj PTAL, thx!

[2019-05-24 10:33] leonwanghui commented on #756
@hirokikmr This issue has been fixed, please take a test : )

[2019-05-24 10:37] rhsakarpos commented on #749
#777 addresses this.

[2019-05-24 10:37] #749 closed

[2019-05-25 01:02] leonwanghui commented on #756
Will close this issue for now, please reopen it if something still goes wrong.

[2019-05-25 01:02] #756 closed

[2019-05-25 01:03] leonwanghui commented on #751
Any update on this issue?

[2019-05-25 01:04] leonwanghui commented on #706
Any update on this issue?

[2019-05-25 01:04] #692 closed

[2019-05-25 01:04] leonwanghui commented on #695
Any update on this issue?

[2019-05-25 01:05] leonwanghui commented on #719
Hi @daramosch, any update on this issue?

[2019-05-25 07:06] NajmudheenCT commented on #695
This is not required now as the deign changed to collect all resources and supported metrics in each poll.

[2019-05-25 07:06] #695 closed

[2019-05-25 07:07] NajmudheenCT commented on #706
I will be starting on this next week

[2019-05-27 06:06] rhsakarpos commented on #748
/assign @NajmudheenCT

[2019-05-27 06:08] rhsakarpos commented on #747
/assign @NajmudheenCT

[2019-05-27 06:10] rhsakarpos commented on #754
/assign @anvith3

[2019-05-27 10:24] rhsakarpos commented on #751
Have sent all the updated details to Pengyi...waiting for this response. What is done so far is being tested.

[2019-05-27 10:55] NajmudheenCT commented on #748
Code https://github.com/opensds/opensds/pull/764 merged ,Please close

[2019-05-27 10:56] NajmudheenCT commented on #747
https://github.com/opensds/opensds/pull/764 has the fix. Please close this ticket.

[2019-05-27 11:23] wisererik opened #780 "CI Didn't recognize the panic error when run go test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

There was a issue that panic error wasn't detected when I ran go test command. It's regarded as `PASS` in CI log:
[code]

**What you expected to happen**:

CI can recognize the panic error

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branc

[2019-05-27 11:32] #747 closed

[2019-05-27 11:32] #748 closed

[2019-05-27 12:05] #780 closed

[2019-05-28 01:04] leonwanghui commented on #753
@Click2Cloud-Gamma Can u give an update on this issue?

[2019-05-28 01:04] leonwanghui commented on #753
I think it's already resolved by #779

[2019-05-28 01:08] leonwanghui commented on #751
Ok, thanks

[2019-05-28 01:10] leonwanghui commented on #701
Partly (metrics API) resolved by #775

[2019-05-28 08:38] #773 closed

[2019-05-28 12:33] NajmudheenCT opened #787 "Telemetry: lvm utilization_prcnt is not reaching prometheus backend"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When node_exporter is used as push mechanism to push lvm metrics, the utilization_prcnt metric is not pushed as the node_exporter failed to parse '%' character
**What you expected to happen**:
change the unit type from % to prcnt of metric utilization_prcnt in Driver code
**How to reproduce it (as minimally and precisely as possible

[2019-05-28 12:33] NajmudheenCT commented on #787
/assign @NajmudheenCT

[2019-05-28 12:42] NajmudheenCT opened #788 "Telemetry: metric name ends with "_" when AggrType is nil"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When node_exporter is configured as push mechanism , the metric name created by Prometheus adaptor in hotpot controller ends with _ . this is because  AggrType of lvm metrics are nil.
**What you expected to happen**:
if a field is nil, do not append  "_"
**How to reproduce it (as minimally and precisely as possible)**:
c

[2019-05-28 12:42] NajmudheenCT commented on #788
sample metrics lvm_disk_utilization_prcnt_%_{device="loop28"} 0.00

lvm_disk_iops_tps_{device="loop29"} 0.00

[2019-05-28 12:42] NajmudheenCT commented on #788
/assign @rhsakarpos

[2019-05-28 13:37] NajmudheenCT opened #789 "Telemetry: Naming format wrong for metrics pushed through pushgateway"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When pushgateway is used as push mechanism in metrics controller , the name formed by controller is not in consistent with lvm_exporter .
now name is coming like
read_throughput{device="loop28",instance="",job="push_gateway",metricname="read_throughput"} 0
**What you expected to happen**:
expected name
lvm_volume_read_th

[2019-05-28 13:38] NajmudheenCT commented on #789
/assign @rhsakarpos

[2019-05-29 06:24] hirokikmr commented on #756
@leonwanghui  I'm sorry for late reply. I confirmed that it has been fixed. Thank you!

[2019-05-29 06:56] hirokikmr opened #790 "Updates a volume attachments"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Update volume attachment REST-API can change 'hostInfo'.
However there is no storage driver function for updating volume attachment. Currently, it change the database value only.
If 'hostInfo.initiator' is specified in create volume attachment, the storage driver set it to the storage devise for access control.
Therefore I think the

[2019-05-29 15:57] #789 closed

[2019-05-29 15:57] #788 closed

[2019-05-29 16:19] #787 closed

[2019-05-30 06:38] leonwanghui commented on #758
@xxwjj Could u pull a PR to resolve this bug?

[2019-05-30 06:39] leonwanghui commented on #719
Will close this issue for now, @daramosch plz be free to reopen it.

[2019-05-30 06:39] #719 closed

[2019-05-30 06:40] leonwanghui commented on #649
@xxwjj Any update on this issue?

[2019-05-30 06:40] leonwanghui commented on #649
@jackhaibo PTAL, thanks

[2019-05-30 15:03] xing-yang commented on #701
Partly addressed by: https://github.com/opensds/opensds/pull/796

[2019-05-31 08:32] Shruthi-1MN opened #799 "Create file share fails because of no availability pool"
**Is this a BUG REPORT or FEATURE REQUEST?**:
After adding nfs native driver pool capabilities, create file share is failing after this PR pool creation
https://github.com/opensds/opensds/pull/774

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Pull latest development branch code and install hotpot
Create file share cmd
curl

[2019-05-31 08:33] NajmudheenCT opened #800 "Telemetry: Controller is not picking urls from config"
**Is this a BUG REPORT or FEATURE REQUEST?**:
metrics/url request is failing in controller as the flag which controller looks for is not set initially.

Solution is to set flag in osdslet.init
flag.StringVar(&CONF.OsdsApiServer.GrafanaUrl, "grafana-url", CONF.OsdsApiServer.GrafanaUrl, "Grafana listen endpoint")
	flag.StringVar(&CONF.OsdsApiServer.AlertMgrUrl, "alertmgr-url", CONF.OsdsApiServer.Ale

[2019-05-31 08:34] NajmudheenCT commented on #800
/assign @rhsakarpos

[2019-05-31 10:13] leonwanghui commented on #799
Can u use `osdsctl` tool to try it?

[2019-05-31 11:40] Shruthi-1MN commented on #799
Fixed in PR https://github.com/opensds/opensds/pull/801

[2019-05-31 11:40] #799 closed

[2019-05-31 13:41] AllaeddineEL opened #802 "opensds-dock cannot list pools in cinder driver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I'm trying to configure dock to use cinder driver to provision block storage from OpenTelekomCloud provider, but the logs of dock show problem listing storage pools

[code]
below is the driver config
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2019-06-01 11:02] Shruthi-1MN opened #804 "Recreation of existing file share results in modifying the existing file share status as error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
If you create existing fileshare, fileshare status updates as "error"
` ` `
_root@shruthi-VirtualBox:~/opensds# curl --header "Content-Type: application/json" --data '{"name":"f3", "description":"file share test", "size":3 }' http://127.0.0.1:50040/v1beta/e93b4c0934da416eb9c8d120c5d04d96/file/shares
{"id":"df619c7b-e291-4644-9356-3d6c7d09ff49","created

[2019-06-03 10:06] PravinRanjan10 commented on #804
If a fileshare is already exist with same name. Then status should show the error. It's expected behavior.
Because, two fileshare with same name can not exist.

[2019-06-04 12:36] Shruthi-1MN opened #810 "Updating fileshare name and description when the status is in "creating" status"
**Is this a BUG REPORT or FEATURE REQUEST?**:
=== RUN   TestUpdateFileShare
2019/06/04 12:27:12
StatusCode: 202 Accepted
Response Body:
{"id":"0ed91af2-2451-4222-8bc3-e139b4e4e931","createdAt":"2019-06-04T12:27:12","updatedAt":"2019-06-04T12:27:12","tenantId":"e93b4c0934da416eb9c8d120c5d04d96","name":"test","description":"This is a test","size":1,"availabilityZone":"default","status":"creating","p

[2019-06-05 08:30] wisererik opened #811 "Report 400 when creating a snapshot for file share"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

When I was creating a snapshot for file share, the server report 400 and "no default profile". Actually, I didn't use default profile and I created a new profile.

**What you expected to happen**:

snapshot can be created successfully.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kn

[2019-06-06 05:13] Shruthi-1MN opened #812 "Updation of fileshare is not happening properly and deletion after updation is not happening"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Deletion of file share is only removing the entry from Database when you update fileshare before deletion.
[code]

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]
Updation from fileshare_test to UpdateFileShareName changed only db entry, mount path name is still the same as

[2019-06-06 06:20] PravinRanjan10 opened #814 "Dashboard is not showing Exportlocation and updatedAt in basic information"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Dashboard should show export location after creation of fileshare and updateAt after updation

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `

[2019-06-06 06:32] PravinRanjan10 commented on #814
@jimccfun

[2019-06-06 10:33] PravinRanjan10 opened #816 "Installation with keystone not allowing osdsapiserver to startup"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Installing hotpot with keystone, and it is failing due to osdsapiserver is not coming up.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `unam

[2019-06-06 10:33] PravinRanjan10 commented on #816
@wisererik

[2019-06-06 12:08] sfzeng opened #817 "Access and Delete issues in file share."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Item count is not correct when deleting file share. As below:
![item_count_error](https://user-images.githubusercontent.com/38932432/59030707-496e1800-8894-11e9-8a03-5142cccee29a.png)
**What you expected to happen**:
It should be 1 file, not 3 files.
**How to reproduce it (as minimally and precisely as possible)**:
Just choose some

[2019-06-06 12:16] sfzeng opened #818 "Status of file share snapshot is always 'creating'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I tried to create a snapshot of a file share, but its status is always in 'creating'. As below:
![snapshot_creating_error](https://user-images.githubusercontent.com/38932432/59031834-5cceb280-8897-11e9-8a05-3af80892beab.png)
**What you expected to happen**:
Snapshot can be created successfully, and its status is normal.
**How to rep

[2019-06-06 12:27] PravinRanjan10 commented on #818
![File_1](https://user-images.githubusercontent.com/41313813/59032662-d5e8ee00-8834-11e9-8c82-7cbb61c72b80.png)
![snap_1](https://user-images.githubusercontent.com/41313813/59032672-da150b80-8834-11e9-9207-c4a58060e48e.png)

[2019-06-06 12:28] PravinRanjan10 commented on #818
For my case, snapshot is creating successfully and status is available.  Can you give some more detail to reproduce your problem? or can you give log?

[2019-06-06 12:29] sfzeng commented on #818
@PravinRanjan10 How to get the log?

[2019-06-06 12:33] Shruthi-1MN commented on #818
It is because of no pool capability match, you can check in osdslet.ERROR Log and osdsdock.ERROR log file.

[2019-06-06 12:36] Shruthi-1MN commented on #818
Wrong profile choosen that might be the reason of file share status 'creating' always

[2019-06-06 12:41] PravinRanjan10 commented on #818
This is working fine. Me and @sfzeng  discussed. I am closing this.

[2019-06-07 02:25] leonwanghui commented on #816
Can u show some error output?

[2019-06-07 05:05] satya-gorli opened #820 "OpenSDS Installer with Ansible failing with nfs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

task path: /root/opensds-installer/ansible/roles/osdsdock/scenarios/nfs.yml:59
Using module file /usr/lib/python2.7/dist-packages/ansible/modules/commands/command.py
<localhost> ESTABLISH LOCAL CONNECTION FOR USER: root
<localhost> EXEC /bin/sh -c 'echo ~ && sleep 0'
<localhost> EXEC /bin/sh -c '( umask 77 && mkdir -p "` echo /root/.ansible/tmp/ansibl

[2019-06-07 05:06] Shruthi-1MN opened #821 "File share doesn't have snapshot id in it's response body, after creation of snapshot of file share"
**Is this a BUG REPORT or FEATURE REQUEST?**:
[code]

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2019-06-07 05:15] wisererik opened #822 "Should change response type of DeleteFileShare* interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I found it contains model.FileShare*Spec in return values, it's not required in delete method.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version: v0.5.3
- OS (e.g. from /etc/os-release):

[2019-06-07 06:42] #820 closed

[2019-06-07 06:42] satya-gorli commented on #820
raised this issue in opensds-installer

[2019-06-07 07:01] wisererik commented on #821
currently file share doesn't have to contain snpashotId which is used for creating file share from snapshot

[2019-06-07 07:19] satya-gorli opened #824 "opensds installation failing using ansible (configured for lvm)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
OpenSDS installation using ansible failing with LVM
**What you expected to happen**:
opensds installation should be success
**How to reproduce it (as minimally and precisely as possible)**:
TASK [gelato-installer : wait for service to start normally] ***********************************************************************************

[2019-06-07 12:44] wisererik commented on #824
@satya-gorli please move this issue to opensds-installer repo

[2019-06-10 03:02] #812 closed

[2019-06-10 03:08] #800 closed

[2019-06-10 09:16] NajmudheenCT opened #830 "Telemetry : GET API for time range query returns same timestamp for all instances."
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
GET API for time range query returns same timestamp for all instances.
Example:
API : http://127.0.0.1:50040/v1beta/e93b4c0934da416eb9c8d120c5d04d96/metrics
Body:
{
"metricName" :"lvm_volume_read_throughput_kbs",
"startTime" :"2019-06-08T06:55:30.781Z",
"endTime" : "2019-06-10T06:55:30.781Z"

}

Response:
[
    {

[2019-06-10 09:34] Shruthi-1MN opened #831 "File share name is empty is creates fileshare id and updates status as error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
[code]

**What happened**:
I tried to create file share of empty string, it is creating fileshare id and updates the status as error.

**What you expected to happen**:
It should through error for user when they input empty string. It should not create fileshare id with status as error.

**How to reproduce it (as minimally and precisely as possible)**:

[2019-06-10 10:48] Shruthi-1MN opened #832 "Some low priority file share creation error needs to be handled"
**Is this a BUG REPORT or FEATURE REQUEST?**:
1) File name should not begin with numbers
2) File sname should not have special characters
3) File share path name should have max threashold length, otherwise it doesn't provide proper fileshare
4) Invalid availability zone case is not handled

**What happened**:
You can refer testing sheet (https://docs.google.com/spreadsheets/d/16rgTocARH4_IXt0hVXO

[2019-06-10 10:49] Shruthi-1MN opened #833 "Some low priority update file share error needs to be handled"
**Is this a BUG REPORT or FEATURE REQUEST?**:
1) Empty string filename update should not allow, Error handling should be done, though it fails to update response code is still 200
2) Updating of actual fileshare is not happening.

**What happened**:
1 I tried to update empty file share name, it fails to update.
2 I created file share and tried to update the fileshare name. So file share name is ch

[2019-06-10 12:21] jackhaibo opened #834 "Create file share access client failed because of wrong access ability."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I try to create a file share access client, an error occurred:
[code]

**What you expected to happen**:
I hope access ability should be `read` or `read,write`, the access client can be created successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Use command `build/out/bin/osdsctl fileshare acl create

[2019-06-10 12:36] sfzeng opened #835 "Delete fileshare failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Delete a fileshare failed, it's status is errorDeleting, as below:
![errorDeleting](https://user-images.githubusercontent.com/38932432/59195694-2e1a4a00-8bbf-11e9-9477-48d012f25a5c.png)

**What you expected to happen**:
Check if there are snapshot or ACL exist before deleting fileshare.

**How to reproduce it (as minimally and preci

[2019-06-10 14:54] sfzeng opened #836 "[dashboard]Some problems about creating and updating fileshare"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Create fileshare with a name has 128 characters failed while creating a file share with a name has 4 characters(other parameters the same) succeed. As below:
![128_erro1](https://user-images.githubusercontent.com/38932432/59202186-86a51380-8bce-11e9-93f6-3ec6183eb265.png)
![128_error2](https://user-images.githubusercontent.com/38932

[2019-06-11 06:07] skdwriting commented on #836
Do we have any limitation on the fileshare name? please ensure this test is covered in our test case list

[2019-06-11 06:14] skdwriting commented on #831
@Shruthi-1MN , please add the issue description clearly. What happened and what is expected.

[2019-06-11 06:21] skdwriting commented on #821
@PravinRanjan10 can we close this?

[2019-06-11 06:25] skdwriting commented on #818
@PravinRanjan10 can we close it?

[2019-06-11 06:29] skdwriting commented on #816
@PravinRanjan10 - please add the log. If its specific to installer, we can transfer this to installer repo
@joseph - can you please check?

[2019-06-11 06:37] skdwriting commented on #814
@jimccfun , sent invitation to join. please join. So i can assign the issue :)

[2019-06-11 06:39] skdwriting commented on #810
@Shruthi-1MN , please mention and provide details on what is expected and how to reproduce..

[2019-06-11 06:44] skdwriting commented on #804
Please close it.

[2019-06-11 06:50] skdwriting commented on #802
@xxwjj @leonwanghui could you please check this issue?

[2019-06-11 06:51] skdwriting commented on #790
@xxwjj  could you please reply to this issue?

[2019-06-11 06:52] skdwriting commented on #770
@xxwjj could you please reply to this issue?

[2019-06-11 07:03] skdwriting commented on #751
I am moving this to installer repo. We will handle in Capri.

[2019-06-11 07:07] skdwriting commented on #729
@PravinRanjan10 / @Shruthi-1MN can you please check and close this issue?

[2019-06-11 07:10] skdwriting commented on #720
@kumarashit please check and reply/ close, thank you.

[2019-06-11 07:14] xxwjj commented on #770
@hirokikmr Can you give some logs about it. why does it failed when creating attachment? if it failed in controller,  the workflow does not go to driver, the attachement was just stored in database, so when you delete the attachemt just delete the entry in dabase.

[2019-06-11 07:21] skdwriting commented on #706
@NajmudheenCT please check and close

[2019-06-11 07:23] skdwriting commented on #649
@jackhaibo , could you please update?

[2019-06-11 07:26] skdwriting commented on #641
@leonwanghui , can we close this? could you please check it again?

[2019-06-11 07:27] skdwriting commented on #633
@Shruthi-1MN please check it again and close.

[2019-06-11 07:28] skdwriting commented on #620
We will check this and consider. I am adding to backlog. Thanks a lot for the inputs.

[2019-06-11 07:29] skdwriting commented on #575
@wisererik can we check/discuss this and close it?

[2019-06-11 07:30] skdwriting commented on #520
@leonwanghui can we consider this for capri release?

[2019-06-11 07:33] skdwriting commented on #432
@leonwanghui did we consider this? I am moving to backlog. Please comment, if any change needed.

[2019-06-11 07:35] skdwriting commented on #235
@leonwanghui any update on this issue? Moving to backlog currently. Any change, please update.

[2019-06-11 07:36] skdwriting commented on #156
@satya-gorli , please check this and we can update the status here. I am changing this to CI improvements and moving to backlog. please put the current status here.

[2019-06-11 07:47] leonwanghui commented on #790
@hirokikmr Currently the UpdateVolumeAttachment method is only allowed to update the metadata of volume attachment, so there is no need to let storage driver implement that function. But one issue you mentioned about updating `HostInfo` (or `ConnectionInfo`) should not be allowed, and we need to resolve that.

[2019-06-11 07:49] leonwanghui commented on #758
We can fix this issue in the Hotpot side, but I am wondering if it has impact on dashboard if we add pre-check before deleting profile.

[2019-06-11 07:50] leonwanghui commented on #754
I think it's already solved in dashboard, is that right?

[2019-06-11 07:56] anvithks commented on #754
These APIs were added to the dashboard in following PRs in the dashboard repository.
[# 71](https://github.com/opensds/opensds-dashboard/pull/71)
[# 68](https://github.com/opensds/opensds-dashboard/pull/68)
[# 93](https://github.com/opensds/opensds-dashboard/pull/93)

[2019-06-11 10:32] Shruthi-1MN commented on #633
Actual code works fine, but this confusion was because of swagger file. I am modifying the swagger file in the PR https://github.com/opensds/opensds/pull/769. So you can close the issue.

[2019-06-11 11:37] #835 closed

[2019-06-11 12:52] PravinRanjan10 commented on #836
@sfzeng It is working fine with latest code. Please verify.

[2019-06-11 13:05] sfzeng commented on #818
It's work now, can be closed.

[2019-06-11 13:05] #818 closed

[2019-06-11 13:05] #814 closed

[2019-06-11 13:25] PravinRanjan10 opened #839 "[dashboard] ACL is not setting properly because of wrong passing parameter"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Two separate string is passed. It should be array of string.

ype:"ip" **accessCapability:"Read" accessCapability:"Write"** accessTo:"10.0.0.0"

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:

[2019-06-11 13:55] #830 closed

[2019-06-11 16:00] leonwanghui commented on #839
When I tried to create file share acl using dashboard, there was some errors occurred in Hotpot controller and then `osdslet` was broken. Please see the logs from `osdslet.ERROR` file:
[code]

I don't know if the reason is what you mentioned, please take a look.

[2019-06-11 16:07] leonwanghui commented on #836
Already tested it.

[2019-06-11 16:07] #836 closed

[2019-06-12 00:41] leonwanghui commented on #834
Related to #839

[2019-06-12 02:25] leonwanghui opened #841 "osdslet daemon crashed when creating file share acl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I use opensds dashboard to create a file share and then create the file share acl, the system crashed and `osdslet` service broken leaving the file share acl status to `creating`.

Here is the output log of `osdslet` service:
[code]

**What you expected to happen**:
Fix this bug.

**How to reproduce it (as minimally

[2019-06-12 03:18] BaiHuoYu commented on #839
Today I tested the latest code. Do you see if it is related to your problem?
osdsctl fileshare acl create 6bf19304-1038-460a-85d6-c76395b49bd9 -t ip -a  "0.0.0.0/0" -c '["read","write"]'
+------------------+--------------------------------------+
| Property         | Value                                |
+------------------+--------------------------------------+
| Id               | 1ce1b768-bd2

[2019-06-12 03:20] BaiHuoYu commented on #834
Today I tested the latest code. Do you see if it is related to your problem?
osdsctl fileshare acl create 6bf19304-1038-460a-85d6-c76395b49bd9 -t ip -a "0.0.0.0/0" -c '["read","write"]'
+------------------+--------------------------------------+
| Property | Value |
+------------------+--------------------------------------+
| Id | 1ce1b768-bd2d-4666-b2f3-0cdcc9e3d998 |
| CreatedAt | 2019-06-12T10

[2019-06-12 05:59] Shruthi-1MN commented on #810
Tested with latest master branch, it updating file share name and description, only when status is available.
[code]

[2019-06-12 06:00] Shruthi-1MN commented on #810
You can close it.

[2019-06-12 06:00] #810 closed

[2019-06-12 06:06] Shruthi-1MN commented on #831
Updated clearly.

[2019-06-12 06:29] skdwriting commented on #841
Please test and close this issue and all related issues

[2019-06-12 06:31] skdwriting commented on #839
check PR #842 , test and close.

[2019-06-12 06:34] NajmudheenCT opened #846 "Telemetry: lvm_exporter Guauge name for disk metrics is not consistent with Driver"
Telemetry: lvm_exporter Guauge name for disk metrics is not consistent with Driver
for disk metrics , instead of having name like
lvm_disk_iops_tps

exporter name is lvm_volume_iops_tps
 /kind bug

[2019-06-12 06:35] NajmudheenCT commented on #846
/assign @NajmudheenCT

[2019-06-12 06:45] #841 closed

[2019-06-12 06:45] #822 closed

[2019-06-12 06:46] leonwanghui commented on #754
Will close this issue.

[2019-06-12 06:46] #754 closed

[2019-06-12 07:00] #833 closed

[2019-06-12 07:00] jimccfun commented on #817
@sfzeng the first problem has been fixed, there is no such problem in the latest version.

[2019-06-12 07:12] PravinRanjan10 commented on #839
Tested!! Able to set the ACL properly

[2019-06-12 07:12] #839 closed

[2019-06-12 09:35] #817 closed

[2019-06-12 09:41] leonwanghui commented on #811
In the latest code, I didn't find the error, please have a check.

[2019-06-12 12:09] satya-gorli opened #847 "Telemetry-Dashboard: Onclicking Grafana link, Grafana not opening"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. Install Opensds including Telemetry and telemetry tools, Grafana
2. Open Dashboard-> Monitor
3. Click on Grafana link
4. Its opening linK localhost:3000
5. Nothing is showed in the window
**What you expected to happen**:
1. Should open with proper IP:Port for grafana
2. Telemetry should check if Grafana service is up.. then only

[2019-06-12 12:09] satya-gorli commented on #847
/assign @NajmudheenCT

[2019-06-12 12:58] skdwriting commented on #633
@Shruthi-1MN , as discussed, i am closing. PR #769.

[2019-06-12 12:58] #633 closed

[2019-06-12 15:11] #847 closed

[2019-06-12 15:13] #846 closed

[2019-06-12 15:16] #832 closed

[2019-06-12 16:08] wisererik opened #851 "Create volume snapshot failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Create volume snapshot failed
**What you expected to happen**:

Snapshot can be created successfully.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a block profile named "test"
2. Create a volume
3. Create a snapshot

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) versio

[2019-06-13 02:46] PravinRanjan10 commented on #831
@Shruthi-1MN  can you try with latest code. I have fixed that issue now. Thnaks

[2019-06-13 06:33] leonwanghui commented on #720
@daramosch I think this issue has been fixed by #853, please take a test, thanks

[2019-06-13 06:59] Shruthi-1MN commented on #831
[code]
Working fine, so closing.

[2019-06-13 06:59] #831 closed

[2019-06-13 07:02] Shruthi-1MN commented on #821
Yes closing.

[2019-06-13 07:02] #821 closed

[2019-06-13 07:07] skdwriting commented on #804
Why the status is error for the original fileshare???

[2019-06-13 09:07] #811 closed

[2019-06-13 09:59] satya-gorli opened #861 "FileShare: Fileshare not getting created"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. Install from Master using ansible
2. Create Profile
3. Create Resource-FileShare-> Create
4. Provide all details and submit
5. File Share is not getting created
403- Operation not permitted is shown
**What you expected to happen**:
File Share creation should be success

**How to reproduce it (as minimally and precisely as possibl

[2019-06-13 10:02] satya-gorli commented on #861
/assign @PravinRanjan10

[2019-06-13 13:10] wisererik opened #863 "gRPC got error when deleted a couple of snapshots of volume at the same time"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

gRPC got error when delete a couple of snapshots of volume at the same time
[code]

**What you expected to happen**:

Snapshots can be deleted normally.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version: v0.5.4
- OS (e.g. from /

[2019-06-13 13:21] leonwanghui commented on #863
It's really odd because it seems that grpc server has been busy for handling one specific task, but no service daemon crashed. @xxwjj please take a look at this issue.

[2019-06-13 14:18] NajmudheenCT opened #864 "Telemetry: Chnge default location of alert manager conf to /etc/alertmanager"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
No default ocation is set to /root/alert manger
this needs to be set as /etc/alertmanager

[2019-06-13 14:18] NajmudheenCT commented on #864
/assign @NajmudheenCT

[2019-06-13 16:02] #864 closed

[2019-06-13 16:02] #706 closed

[2019-06-13 16:03] #851 closed

[2019-06-14 01:45] skdwriting commented on #701
@Shruthi-1MN , please check and add a consolidated comment here before we close

[2019-06-14 02:05] leonwanghui opened #866 "Report 400 when deleting a snapshot for file share"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

**What you expected to happen**:
delete file share successfully.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version: development
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools: dev

[2019-06-14 05:07] #866 closed

[2019-06-14 06:10] Shruthi-1MN commented on #701
Missing authority validation for file share APIs is done in PR #796 and for metrics API is done in  PR #775. Hence i am closing the issue.

[2019-06-14 10:03] NajmudheenCT opened #868 "Osdsctl not creating volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:
When I create volume from CLI using below command I get 'ERROR' response
root@ubuntu:~#  osdsctl volume create 1 --name=test
ERROR:
root@ubuntu:~#
/kind bug

**What happened**:
Hope there is no default profile available,
**What you expected to happen**:
volume should be created using default profile.
**How to reproduce it (as minimally and precisely as

[2019-06-14 10:08] NajmudheenCT commented on #868
@leonwanghui @skdwriting @xing-yang @wisererik
User is not aware of creating profile , either we should have default profile or document this

[2019-06-14 10:36] skdwriting commented on #802
@wisererik , could you please check the status of this ?

[2019-06-14 10:40] skdwriting opened #869 "[Feature] Thin OpenSDS"
This is for light weight OpenSDS. It helps a decoupled opensds which will help to make it more modular...(like base module and add on features..). Also this can help to run opensds under resource constraint environments?

https://docs.google.com/document/d/16zLCE1X8bNjkGoKvBpqDZaxEHZapWluQVgdvlxuR_tE/edit#

[C2C] https://github.com/opensds/opensds/pull/696

Addressing Leon's comments.
[Leon] https

[2019-06-14 12:20] xing-yang commented on #869
@skdwriting Discussed with Steven about this.  We'll merge this into a different repo as an experimental feature in Capri.

[2019-06-14 13:09] Shruthi-1MN commented on #729
@xing-yang , I have added the changes in the PR #856.

[2019-06-14 13:51] skdwriting commented on #868
Can we update the document and provide a sample profile? Or we can add a default profile?

[2019-06-14 14:07] skdwriting opened #870 "hotpot API and Database updation sequence optimization"
/kind feature

**What happened**:
Currently the API updates the DB before doing the actual API action. This can cause unwanted scenarios. Example: Create a fileshare which is already existing. It will throw error. But, it will create a DB entry with a new fileshare id with status error. This is not needed. Can cause security or performance issues. Hence, we need to revisit the API flow design.

**

[2019-06-14 14:07] skdwriting commented on #804
This does not affect the existing fileshare. Hence closing this. However the DB update could be avoided with the error for the new fileshare with same name. Creating a new issue for optimization #870

[2019-06-14 14:07] #804 closed

[2019-06-15 04:32] joseph-v commented on #868
Wiki already contain steps to create profile https://github.com/opensds/opensds/wiki/OpenSDS-Cluster-Installation-through-Ansible

[2019-06-15 04:53] NajmudheenCT commented on #868
Thanks @joseph-v I missed to see this in wiki.
Probabaly in next release we can think about having a default profile

[2019-06-15 04:53] #868 closed

[2019-06-15 05:31] skdwriting opened #871 "API URL Optimization [v1beta...]"
/kind feature
/kind enhancement

**What happened**:
Currently API URL is like
http://<hostip>:<port>/v1beta/<tenant id>/<feature>
Example:
http://127.0.01:5000/v1beta/73571fdd03724eef8e1dd85b8ffc7568/orchestration/services

**What you expected to happen**:
Cleaner URL, able to handle different API end points, mapping and modules. May be minor cleanup?

[2019-06-15 06:54] wisererik commented on #729
it has been fixed, will close it.

[2019-06-15 06:54] #729 closed

[2019-06-15 09:46] PravinRanjan10 commented on #861
![fileshare1](https://user-images.githubusercontent.com/41313813/59549813-9468e900-8f80-11e9-99fa-b1e972ff67dc.png)

[2019-06-15 09:47] PravinRanjan10 commented on #861
its working with latest code.

[2019-06-15 09:50] skdwriting commented on #758
@Shruthi-1MN , please keep the same error code and only append the error message, then the dashboard should be able to give the proper error message on delete profile error

[2019-06-15 09:52] PravinRanjan10 commented on #834
![acl](https://user-images.githubusercontent.com/41313813/59549853-4ef8eb80-8f81-11e9-84dd-e0ea7c5a821e.png)

[2019-06-15 09:52] PravinRanjan10 commented on #834
![acl1](https://user-images.githubusercontent.com/41313813/59549862-6c2dba00-8f81-11e9-9cf3-8614b5e20679.png)

[2019-06-15 09:52] skdwriting commented on #802
@AllaeddineEL , the pool has been configured already?

[2019-06-15 09:53] PravinRanjan10 commented on #834
I tested with latest code. ACL is working fine

[2019-06-15 09:55] skdwriting commented on #834
@jackhaibo , please check and confirm, we can close this.

[2019-06-15 09:56] skdwriting commented on #861
closing

[2019-06-15 09:56] #861 closed

[2019-06-15 09:58] #834 closed

[2019-06-15 09:59] skdwriting commented on #720
@daramosch , could you please verify and confirm the same.

[2019-06-15 10:09] #701 closed

[2019-06-15 10:11] skdwriting commented on #641
Actually this is due to the API flow issue as well. DB update to be done based on the action. / we need to optimize. I had created one issue for the backlog #870 . I am moving this to backlog.

[2019-06-15 10:18] NajmudheenCT opened #873 "Telemetry: instanceName is empty when pool name is different from opensds-volume-default"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/king bug

**What happened**:
Telemetry driver instanceName  empty when pool name is different from opensds-volume-default
this impact exporter also

[2019-06-15 10:18] NajmudheenCT commented on #873
/assign @NajmudheenCT

[2019-06-15 10:19] skdwriting opened #874 "Error handling optimization"
/kind feature
**What happened**:
Multiple issues where the error handling is not correct / no proper log messages.

**What you expected to happen**:
Proper error handling design with proper error code and message.
Please design a proper error framework

**How to reproduce it (as minimally and precisely as possible)**:
refer #575

[2019-06-15 10:19] skdwriting commented on #575
This is due to improper error message and handling. Need to improve error code/message. I created a common issue for error handling improvement #874

[2019-06-15 10:20] skdwriting commented on #575
moving to backlog. Ref #874

[2019-06-15 10:23] skdwriting opened #875 "Debug logging and overall log optimization"
/kind feature

**What happened**:
We need to revisit the debug logging mechanism and review.
If needed update the design and provide a debug / logging frame work

[2019-06-15 10:39] #873 closed

[2019-06-17 03:23] #790 closed

[2019-06-17 08:59] sfzeng opened #884 "Fileshare without snapshot and access cannot be deleted."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I chose three  fileshares without snapshot and access to delete, while two fileshares be  deleted, one fileshare is left with status set to be 'errorDeleting'.
![delete-error-0617](https://user-images.githubusercontent.com/38932432/59591793-43442b00-9121-11e9-8190-821359f4fbd2.png)

**What you expected to happen**:
All fileshares ca

[2019-06-17 09:54] wisererik commented on #884
I think it's same issue as another issue I mentioned: #863

[2019-06-17 10:04] jimccfun opened #885 "Creating a fileshare status is error, but looking at the database doesn't have such a fileshare"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I created a fileshare and the staus is error. but looking at the database doesn't hvae such a fileshare.
![fileshare](https://user-images.githubusercontent.com/37950702/59595672-d339a300-9128-11e9-8da6-b2a40fb7a786.png)

**What you expected to happen**:
When the status of the fileshare created is error or the creation failed, the AP

[2019-06-17 13:24] xing-yang commented on #869
@skdwriting We will get this in Capri as an experimental feature.  Therefore the Capri label should not be removed.

[2019-06-17 14:02] leonwanghui commented on #869
I will pull a new PR and push it to new branch, does that ok to you, @xing-yang @skdwriting ?

[2019-06-17 14:05] xing-yang commented on #869
@leonwanghui Sounds good.  Thanks.

[2019-06-17 14:26] leonwanghui commented on #869
Please check the [thin-opensds](https://github.com/opensds/opensds/tree/thin-opensds) branch, and have a test for that one.

[2019-06-17 14:36] xing-yang commented on #869
@leonwanghui You should have created an branch from development first,  submitted a PR so it can be reviewed before it is merged into a branch.  I see that you added GetMetrics() and GetUrls().  Are those relevant to the Thin OpenSDS feature?  This change should only include things that are directly related to Thin OpenSDS so that it is easier to merge it into master later.

[2019-06-17 14:39] leonwanghui commented on #869
Please see #888 for what's changed in thin opensds.

[2019-06-17 15:11] PravinRanjan10 commented on #885
![share2](https://user-images.githubusercontent.com/41313813/59615520-44388500-9140-11e9-82bb-4a9b277e2463.png)

[2019-06-18 01:23] skdwriting opened #892 "Telemetry: Monitor Configuration Optimization"
/kind enhancement

**What happened**:
Currently we provide options to the user to upload, update of Grafana, Prometheus and AlertManager.
Also, these files have lot of different options that can be changed by the user

**What you expected to happen**:
Do we need to give all these configurations contents to user? Will it affect the operation?
like grafana config has configuration for ip, port etc.

[2019-06-18 02:57] leonwanghui commented on #884
I think it's already fixed by https://github.com/opensds/opensds-dashboard/pull/126, please have a test.

[2019-06-18 02:58] leonwanghui commented on #863
I think it's already fixed by https://github.com/opensds/opensds-dashboard/pull/126, please have a look.

[2019-06-18 03:42] sfzeng commented on #884
@leonwanghui No, it's a different issue, and I tested with the latest codes, this issue still exists.

[2019-06-18 05:50] NajmudheenCT opened #895 "Telemetry: Typo in metric name"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
vm_exporter defned metric name as lvm_disk_read_hroughput_kbs instead of lvm_disk_read_throughput_kbs

[2019-06-18 06:15] #895 closed

[2019-06-18 06:58] skdwriting commented on #885
as per @PravinRanjan10 , the db shows the error entry also currently.
(actually, this should be removed in case of error!;)
@jimccfun , please check this. Then close the issue!

[2019-06-18 07:20] #885 closed

[2019-06-18 07:20] PravinRanjan10 commented on #874
#885 The actual reason, fileshare was not created in backened (due to insufficeint space). but API return the status code(200:successful) with status error.

[2019-06-18 09:22] PravinRanjan10 opened #899 "snapshot name should not start with snapshot prefix in lvm backend."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
if backend is lvm, snapshot creation will fail, if snapshot name start with prefix "snapshot".

for example:
lvcreate -n snapshot1 -L 1g -p r -s <device>.
it fail with below error:
Names starting "snapshot" are reserved. Please choose a different LV name.

**What you expected to happen**:

**How to reproduce it (as minimally and pre

[2019-06-18 09:27] PravinRanjan10 commented on #899
This issue is open for discussion. How to handle snapshopt name for lvm. Currently, volume snapshot is being created as: _snaphot+user_given_name+uuid. The discussion point is, why we are adding "_snaphot" as snpshot prefix?

Few commenst are given by jerry and sanil:
![Screenshot1](https://user-images.githubusercontent.com/41313813/59670337-692d0680-91d9-11e9-85e5-9f9aceb1b635.PNG)

[2019-06-18 11:05] NajmudheenCT opened #902 "Telemetry:Add description in get URL response"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

**What you expected to happen**:
To fix https://github.com/opensds/opensds-dashboard/issues/130
add description and change name of GET url response

[2019-06-18 11:55] #902 closed

[2019-06-18 15:02] jackhaibo opened #905 "The profileID parameter in the cli command of the fileshare snapshot is useless and should be deleted."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The profile id parameter in the file share snapshot client command is useless and should be deleted.
[code]
**What you expected to happen**:
The profile id parameter in the file share snapshot client command should be deleted.
@BaiHuoYu please resolve it.

[2019-06-18 19:35] #758 closed

[2019-06-19 07:21] anvithks opened #910 "Can we develop an API manager or API server that resides between the backend"
**FEATURE REQUEST**:

/kind feature

### Use Case and problem
The OpenSDS dashboard consumes the OpenSDS APIs directly. Some of the API responses are not particularly in a format that is suitable for direct consumption by the Dashboard. There could be a requirement for a customer to integrate the APIs in their own dashboard and they may need to manipulate the data responses.
With the current API s

[2019-06-19 07:35] anvithks commented on #910
@skdwriting Please review and add to backlog.

[2019-06-19 10:16] kumarashit commented on #899
After creation of snapshot of fileshare, SnapshotId is not updated
![FS_Snap](https://user-images.githubusercontent.com/48085413/59757456-6ef21d00-92a9-11e9-9e98-31062801c058.PNG)

root@ubuntu:/var/log/opensds# osdsctl fileshare show 4927ed62-ee91-4035-a58f-3df938058acd
+------------------+-------------------------------------------------------------+
| Property         | Value

[2019-06-19 11:38] kumarashit commented on #899
lvscan o/p:
 ACTIVE   Original '/dev/opensds-nfs/test_fs' [1.00 GiB] inherit
  ACTIVE   Snapshot '/dev/opensds-nfs/snp' [1.00 GiB] inherit

[2019-06-20 01:54] leonwanghui commented on #884
Related to #863

[2019-06-20 05:36] kumarashit opened #913 "Volume creation with very long name is ambiguous"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: Created a volume with very very long name. The volume got created but with name 'vol1'.

**What you expected to happen**: Either there is validation for long string in volume name or it should truncate but not give altogether a new default name to the volume.

**How to reproduce it (as minimally and precisely as possible

[2019-06-20 05:43] kumarashit opened #914 "No IP validation while attaching volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: Used orchestration to provision volume. Provided invalid/non-compliant IP address (192.168.20) for attachment. Volume created, volume attachment resulted in success but there is not actual attachment happened.

**What you expected to happen**: Volume attachment failure should throw error.

**How to reproduce it (as minim

[2019-06-20 05:48] kumarashit opened #915 "Detach a volume from osdctl CLI doesn't update the Volume status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Used Orchestration to provision volume. Volume created and attached to host. Now went to use osdsctl volume attachment delete <attach_id> command to detach volume. Attachment list doesn't show the volume attached but volume list show it inUse. Due to this am not able to delete the volume.

root@ubuntu:~# osdsctl volume li

[2019-06-20 06:33] kumarashit opened #916 "Not able to delete an available volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Used osdsctl volume delete <vol_id> to delete an available volume. Volume goes in errorDeleting status and does not get deleted.
From log:
E0620 12:01:01.249568   18105 volumecontroller.go:123] delete volume failed in volume controller:rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest conne

[2019-06-20 07:35] kumarashit commented on #916
This was like a deadlock situation for me. After debugging i found out that the device was opened by the SCSI target service tgtd (dmsetup -c info and lsof tells it). I stopeed tgt service (service tgt stop) and then using lvremove i was able to delete all these volumes.

[2019-06-20 07:45] kumarashit opened #917 "osdsdock crashes while deleting attachment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: steps: a) Used orchestration to provision volume. service tgt was stopped b) Attachment for the volume went into Error state c) Deleted the attachment from osdsctl command and this led to osdsdock getting crashed
root@ubuntu:/opt/orchestration-linux-amd64# osdsctl volume list
+--------------------------------------+------

[2019-06-20 13:41] anvithks commented on #910
A good starting point to the architecture I have in mind is [this blog](https://dev.to/peibolsang/they-call-it-backend-for-frontend-51nh)  post written by Pablo Bermejo.

[2019-06-20 13:51] anvithks commented on #910
After reading some more seems like there was another article which kind of says there may be a different approach that is better ([here](https://dev.to/peibolsang/ux-apis-and-custom-microservices-54af)).

[2019-06-21 01:08] leonwanghui commented on #914
/assign @jackhaibo

[2019-06-21 01:08] leonwanghui commented on #914
I think it's already solved by #912, please have a check.

[2019-06-21 05:32] kumarashit commented on #914
I had looked into the PR and it seems it is just taking care of empty IP but not validating IP4 in the format a.b.c.d.
@jackhaibo can comment better

[2019-06-21 05:51] jackhaibo commented on #914
I have added a judgment on ipv4, please see #912 `contrib/drivers/lvm/targets/iscsi.go `line 97

[2019-06-21 08:20] Shruthi-1MN opened #921 "Acl is not able to set using cli for fileshare"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Acl of fileshare from cli is not able to update

**What happened**:
I tried to set Acl for fileshare using cli, i see the acl list is empty

**What you expected to happen**:
It should set ACL and when we list in acl, it should show the permissions. But list is empty.

**How to reproduce it (as minimally and precisely as possible)**:
Create file share
[

[2019-06-21 11:53] kumarashit commented on #914
@jackhaibo yes just saw that. So it seems it will fix the issue. Thanks for the fix

[2019-06-21 11:53] kumarashit commented on #914
I will verify it and will close

[2019-06-23 03:16] skdwriting commented on #869
@xing-yang ok, we will keep CAPRI. Then, we can close this issue if we close it moving to branch and make it experimental. Then, we can create a new issue to track the enhancement and merge to main. What do you say? It will help to track

[2019-06-23 04:48] xing-yang commented on #869
@skdwriting Sounds good.

[2019-06-24 08:43] NajmudheenCT opened #922 "Telemetry: Log improvement"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Add validation for API parameters and log errors in logs. AS of now unknown driver type in POST call return 200 OK, but no inofrmation to the user that it is a unknows driver type.

[2019-06-24 08:45] NajmudheenCT opened #923 "Telemetry: Format POST API reposnse"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
POST API reponse has '//' before every fiels. We should either remove dta response to the user , or format the reposnse to readbale form.

[2019-06-25 08:36] satya-gorli opened #924 "FileShare-Dashboard: Incorrect behavior while modifying FileShare"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. Create File Share successfully
2. Click More-> Modify of created FileShare
3. Give more description
4. It shows [object,Object] in red color
**What you expected to happen**:
Should show proper error message if something wrong

![FileShareDashBoard_ Incorrect behvior while Modifyiing](https://user-images.githubusercontent.com/4828

[2019-06-25 08:51] satya-gorli opened #925 "FileShare-DashBoard: FileShare-Access List Order is not proper"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. Create File Share
2. Create Access..
3. Repeat Step 2 with different names..
4. Check the order of the Access Items displayed..
Not in Created date/Time order.. not by type, not by IP
**What you expected to happen**:
List should display in specific order either sorted by IP or by Creation Date
**How to reproduce it (as minimally

[2019-06-25 08:58] satya-gorli opened #926 "FileShare-DashBoard: While Creating Access, AccessLevel cant be selected first time"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. Create File Share
2. Click Create Access button
3. Click dropdown of AccessLevel
4. Select ReadOnly or Read,Write
5. Selected one wont be selected
6. Error - AccessLevel required will be displayed and the popup keep flickering (Shivering)
7. Now try selection .. It works
**What you expected to happen**:
On First Selection, should

[2019-06-25 09:12] satya-gorli opened #927 "FileShare-DashBoard: Access Creation allowing duplicate rules"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
1. Create file share and ensure the file share is in available state
2. Create Access... popup opens
3. Give IP as 12.12.12.12/12 (infact any ip)
4. Select add rule.. and provide same IP
or
Create new Access with same IP
System is allowing
**What you expected to happen**:
No Duplicate IP should be allowed in Access.

[2019-06-25 09:25] satya-gorli opened #928 "DashBoard-FileShare: FileShare not creating all the rules given"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. Create File share and make sure its in Available state
2. Click---> Create Access
3. Provide inputs including IP
4. Click add Rule in same popup
5. Provide different IP
6. Repeat steps 5 and 6 for 21 times
7. Overall 21 rules to be created.. but only 16 Access rules are created
![FileShareDashBoard_ Access Not Creating all given

[2019-06-25 09:25] kumarashit opened #929 "IPV6 support for lvm volume attachment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

**What you expected to happen**: LVM volume attachment should honor IPV6 address

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) version:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
-

[2019-06-25 09:35] satya-gorli opened #930 "Dashboard-FileShare: After Some Access rules creation, FileShare status becoming error from available"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. Create File Share and ensure its status is Available
2. create Access Rules more than 10 ( either in same Popup or seperately)
3. No response in dashboard after clicking OK Button
4. In Browser Response, we can see 400 error : {"code":400,"message":"createFileshareAcldbentry failed: only the status of file share is available, the

[2019-06-25 09:49] satya-gorli opened #931 "FileShare-DashBoard: Snapshot with duplicate names getting created"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. create File Share with state available
2. Create Snapshot for the created FileShare
3. Repeate step2 with the same name
4. Its allowing to create the snapshots with same name
**What you expected to happen**:
1. There is no point of creating snapshots with same name. should restrict
![FileShareDashBoard_ Snapshot creation allowing

[2019-06-25 10:20] satya-gorli opened #932 "FileShare: ModifyFileShareAcl feature is missed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. As per the Design Specs, PUT API for FileShareAcl is required to implement
2. API not found in code and Modify Option for Access is not there in Dashboard
![FileShare_PUT API missing for FileShareAcl_2](https://user-images.githubusercontent.com/48289385/60090739-bae90a00-9760-11e9-85a6-9ec424f190ea.PNG)

![FileShare_PUT API missi

[2019-06-26 13:23] Shruthi-1MN commented on #930
@satya-gorli
Could you please share osdsdock.ERROR log?

[2019-06-26 13:48] satya-gorli commented on #930
plz give me this file path

[2019-06-27 08:08] Shruthi-1MN commented on #932
@PravinRanjan10 , Could you take a look at this issue?

[2019-06-27 08:14] Shruthi-1MN commented on #928
@satya-gorli ,
It's dashboard issue, One access post api call allows only one acl at a time to create  in backend. In dashboard they should not allow user to create more than acl at time for the same fileshare. So please close the issue here, open new one in dashboard.

[2019-06-27 08:24] satya-gorli commented on #928
@anvithks , Plz check this issue

[2019-06-27 11:02] Shruthi-1MN commented on #926
@satya-gorli , It is Dashboard issue. Could please ask yueju to take a look. Can you please close the issue here and open the same issue in dashboard.

[2019-06-27 11:36] Shruthi-1MN commented on #925
@satya-gorli , This is extra filter option. It is not in scope to do now. Adding more filter can be done as a separate feature enhancement. It should be done all over the project.

[2019-06-28 07:07] Shruthi-1MN commented on #930
@satya-gorli , i check log on the machine which you have shared me the log location is /var/log/opensds/osdsdock.ERROR . It shows all acl's creation at a time. Below is the log details shows all acl request sent to backend, this is not supported this same as "DashBoard-FileShare: FileShare not creating all the rules given #928 "

"[{"id":"035db8bb-41d8-4a51-88d6-d24f197dbb58","createdAt":"2019-06-

[2019-07-01 13:58] kumarashit commented on #913
Verified with latest OpenSDS and issue doesn't appear. Attached screenshot for volume provision
![volume_provision](https://user-images.githubusercontent.com/48085413/60442281-57fee380-9c36-11e9-9e0c-0f9dbd3ad247.PNG)
Closing it now.

[2019-07-01 13:58] #913 closed

[2019-07-01 13:59] kumarashit commented on #913
![VolumeProvisionWithLongName](https://user-images.githubusercontent.com/48085413/60442357-7bc22980-9c36-11e9-89b8-44f2f647737f.PNG)

[2019-07-02 03:54] jackhaibo opened #939 "Currently block and fileshare functions are split in the sushi."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The switch between the block and fileshare functions in the current sushi needs to modify the `opensdsstoragetype` parameter to block or file in the `csi-configmap-opensdsplugin.yaml` file and then use command `kubectl replace -f .` to restart the csi pods, then function can run normally. This implementation is equivalent to two plu

[2019-07-02 07:22] satya-gorli commented on #930
Plz show in any working environment.. If this issue not exists, then I can close

[2019-07-02 07:33] satya-gorli commented on #926
Created in Dashboard: #164

[2019-07-02 07:33] #926 closed

[2019-07-02 09:30] satya-gorli commented on #925
Its not about new Feature.. Current Listing feature can be in a specific order

[2019-07-02 13:54] NajmudheenCT commented on #752
User guide and driver development guide PR rasied.
This ticket can be closed.

[2019-07-02 13:55] NajmudheenCT commented on #752
@skdwriting , Please close this ticket

[2019-07-02 20:06] xing-yang commented on #939
@jackhaibo Should this issue be opened in nbp repo instead?  Is it only a problem when you decide whether to use block API or fileshare API?  Does profile help?  If it is impossible to use the same plugin, I'm open to separate them into two.  I just want to understand exactly what problems we have here.

[2019-07-03 02:32] jackhaibo commented on #939
@xing-yang During the delete or unmap process, the profile can't help, because the profile can't be passed into the function.For example, in the following example, only the volumeId can be obtained from the request parameter of the deleted volume, and the profile cannot be sent in, so that it cannot be determined whether now the volume should be deleted or fileshare. Could you push the kubernetes

[2019-07-03 04:27] xing-yang commented on #939
What parameters do you need at deletion time?  I need an exact list of parameters and why you need them.

Go ahead and make it a separate plugin to support fileshare.

[2019-07-03 06:31] Shruthi-1MN commented on #931
Issue has been fixed in PR  #936 , some test results are also added in PR #936.

[2019-07-03 09:15] jackhaibo commented on #939
If possible, add `VolumeContext: map[string]string{}` parameter in `VolumeRequest` in the following methods:
[code]

[2019-07-04 09:17] Shruthi-1MN commented on #925
@satya-gorli , It is by Acl Id in ascending order, to display in user requested order will be new feature.
Please find results which is proof to the order
1) From CLI
[code]

2) Form Curl command
[code]

[2019-07-05 04:59] skdwriting commented on #922
Refer #875

[2019-07-05 05:00] skdwriting commented on #875
Refer #922
Please consider overall logging framework and let us resuse as much as possible

[2019-07-05 15:28] xing-yang opened #947 "Need to cherry pick commits merged to Development after Capri release into Master"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
There are some PRs that got merged into Development branch after the Capri release.
They need to be cherry-picked into Master, otherwise they will be lost because Development branch is deprecated.

I have identified one PR that needs to be cherry-picked:
https://github.com/opensds/opensds/pull/937

@leonwanghui Can you che

[2019-07-09 07:09] Shruthi-1MN opened #950 "Acl creation is not creating backend rule properly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When first time i tried to create acl with "read" permission and second time with read and write permissions for the same ip. But i can't find both the rules on backend
opensds db entry is created but actual rule i didn't find filesystem
"exportfs -v"  has only one entry i.e second rule

**What you expected to happen**:
When we crea

[2019-07-09 07:10] Shruthi-1MN commented on #950
@PravinRanjan10, Please take a look at this issue

[2019-07-09 07:21] leonwanghui commented on #921
/assign @BaiHuoYu

[2019-07-09 07:31] PravinRanjan10 commented on #950
For same IP, two rules not possible. This is not a valid scenario. Always 2nd rule will be updated if user have give same ip. This issue is sort of validation in dashboard/API(I mean two entries of rule must not be there for same IP)

[2019-07-09 07:35] shuoranliu opened #951 "Fileshare: suggest adding ExportLocations in DeleteFileShareOpts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

There is no `ExportLocations` field in the `DeleteFileShareOpts` struct.

**What you expected to happen**:

Since `ExportLocations` is stored in the `FileShareSpec` when creating file share, I think it is better to add this filed in the `DeleteFileShareOpts` struct. In this way, drivers can do umount before deleting a fi

[2019-07-09 08:28] Shruthi-1MN commented on #950
@PravinRanjan10 , It it is so then fix the issue in apiserver itself.

[2019-07-09 08:29] leonwanghui commented on #951
@shuoranliu Thanks for pointing out this issue, do u want to pull a PR to resolve this? Or @PravinRanjan10 could u help address this issue?

[2019-07-09 08:52] PravinRanjan10 commented on #951
Agree with @shuoranliu. I will add export location in deletefileshareOpts.

[2019-07-09 09:28] leonwanghui commented on #947
Solved by #952

[2019-07-09 09:28] #947 closed

[2019-07-09 11:49] #931 closed

[2019-07-10 06:41] xxwjj opened #957 "Framwork: load southbound storage driver via golang plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currentlly , all southbound drivers are builtin code, when we run osdsdock process, all driver will load in memory nomatter we need it or not.also some drivers have many thirdparty dependency package (e.g. ceph driver need to depoly librados-dev and librbd-dev). This cause osdsdock more and more hard to depoly.

**What you expected

[2019-07-11 07:51] #951 closed

[2019-07-11 07:52] #924 closed

[2019-07-12 02:27] jimccfun commented on #950
@Shruthi-1MN @PravinRanjan10 I'm going to add restrictions in dashboard

[2019-07-12 02:40] jimccfun commented on #928
@Shruthi-1MN I think we can create more than one acl for the same fileshare. so if we should not allow user to create more than one acl for the same fileshare, can you tell me why?

[2019-07-12 02:55] jimccfun commented on #925
@satya-gorli @Shruthi-1MN can the API support more filter. if it can not be supported now, in dashboard I can make listing in specific order.

[2019-07-12 03:13] PravinRanjan10 commented on #928
we can create more than one ACL for same fileshare. Problem is little different, at a time, only one API can be called for each ACL. So if user want to add  5 ACL at a time(for example), then dashboard should call 5 API internally. Then this issues will be resolved. More detail, we can discuss over call.

[2019-07-12 03:18] PravinRanjan10 commented on #925
As per satya comment, if dashboard can list in some order, it would looks good and easy for user. I would recommend if you can list the ACl based on time, it would be good. THanks

[2019-07-12 03:20] PravinRanjan10 commented on #950
@jimccfun  what restriction you are going to add??

[2019-07-12 03:21] jimccfun commented on #932
@PravinRanjan10 I just remember I confirmed to you before that we don't support to modify Acl now, isn't it?

[2019-07-12 03:48] jimccfun commented on #925
@PravinRanjan10 Your suggestion is good I will take it, thank you

[2019-07-12 05:21] satya-gorli commented on #950
/assign @PravinRanjan10

[2019-07-12 05:22] satya-gorli commented on #939
/assign @jackhaibo

[2019-07-12 05:22] satya-gorli commented on #932
/assign @PravinRanjan10

[2019-07-12 05:23] satya-gorli commented on #930
/assign @Shruthi-1MN

[2019-07-12 05:24] satya-gorli commented on #928
/assign @jimccfun

[2019-07-12 05:24] satya-gorli commented on #927
/assign @jimccfun

[2019-07-12 05:24] satya-gorli commented on #925
/assign @jimccfun

[2019-07-12 05:25] satya-gorli commented on #921
/assign @BaiHuoYu
Please fix this issue asap as its an important feature

[2019-07-12 05:27] satya-gorli commented on #884
/assign @PravinRanjan10

[2019-07-12 05:29] satya-gorli commented on #923
/assign @NajmudheenCT

[2019-07-12 05:29] satya-gorli commented on #922
/assign @NajmudheenCT

[2019-07-12 11:39] PravinRanjan10 commented on #932
https://github.com/opensds/design-specs/pull/40 . This PR will update the design doc. Hence there is no modify feature for fileshareACL.

[2019-07-12 12:41] PravinRanjan10 commented on #884
I think your concern is, if a fileshare have snapshot, it should not deleted. First snapshot should be deleted then fileshare.
This issue is already fixed in dashboard and API level. Please check and close this.

[2019-07-16 07:08] #930 closed

[2019-07-17 09:16] #932 closed

[2019-07-22 14:20] PravinRanjan10 opened #971 "Change the fileshare and snapshot creation path structure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently fileshare and snapshot being created on this structure: /dev/vg/fileshareName.

Ideally it should be created like this: /dev/vg/fileshareID.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Hotpot(release/branch) ve

[2019-07-24 14:16] xing-yang opened #974 "Move Telemetry code to the Telemetry repo"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently the Telemetry code is tightly coupled with Hotpot code.

**What you expected to happen**:
Telemetry is an independent module and user should be able to use it without Hotpot.  The Telemetry code should be moved to the independent Telemetry repo.  This is a requirement for SODA.

**How to reproduce it (as mini

[2019-07-25 06:24] Shruthi-1MN opened #975 "Enhancement of selector code is required to select pool with valid values matching to profile instead of equal values"
**Is this a BUG REPORT or FEATURE REQUEST?**:
This is Enhancement of selector code.
Selecting pool matching to profile always should have same values(equal values).

**What happened**:
Whenever profile values should match exactly same as pool value then only respective pool will be selected.
For example LVM Pool with capability of IOConnectivity of AccessProtocol is iscsi, MaxIOPS is 7000MBPS and

[2019-07-29 16:06] PravinRanjan10 opened #978 "New Feature: Create volume on given specific pool (poolid)."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
My observation:
1. We need to create pool through opensds API or manual make entry in etcd db
2. Pool must be connected to some dock, so dock.id required.
3. We need to call getDockByPoolId() in createVolume method in controller block, to get dock info.
4. Some small modification in controller code, then we can support this feature.

[2019-08-01 10:41] Shruthi-1MN opened #980 "Delete file share snapshot is not deleting the snapshots"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Delete file share snapshot

**What happened**:
The status of file share snapshot is deleting status will be always errorDeleting

root@shruthi-VirtualBox:~/go/src/github.com/opensds/opensds# osdsctl fileshare snapshot list
WARNING: OPENSDS_ENDPOINT is not specified, use default(http://localhost:50040)
WARNING: Not found Env OPENSDS_AUTH_STRATEGY, use d

[2019-08-01 12:14] Shruthi-1MN commented on #980
creating fileshareid with empty file share id creates this issue

[2019-08-01 12:17] PravinRanjan10 commented on #980
BUt we have already validation for that. I mean we can not create fileshare with empty name/id

[2019-08-02 08:01] kumarashit commented on #980
From the code: Fileshare cannot be created with empty ID. Before fileshareCreate(), we call CreateFileShareDDBEntry() which ensures ID is returned:
func CreateFileShareDBEntry(ctx *c.Context, in *model.FileShareSpec) (*model.FileShareSpec, error) {
    if in.Id == "" {
        in.Id = uuid.NewV4().String()
    }

So fileshare ID is must as it seems from the code.
@Shruthi-1MN have observed that so

[2019-08-02 08:01] kumarashit commented on #980
/ @Shruthi-1MN Please check

[2019-08-02 09:25] kumarashit commented on #978
This is /kind feature. @PravinRanjan10 Please put a comment that it's an enhancement/new feature

[2019-08-02 10:02] Shruthi-1MN commented on #980
@kumarashit , osdsdock log has the following message
E0801 16:08:20.429199   13808 exec.go:41] Execute command failed
info:
  Logical volume opensds-files-default/snapk1 contains a filesystem in use.

error: exit status 5
E0801 16:08:20.511781   13808 exec.go:41] Execute command failed
info:
  Logical volume opensds-files-default/snapk1 contains a filesystem in use.

So when file system is in use,

[2019-08-02 11:12] kumarashit commented on #980
Ok. then it is not related to fileshare ID but instead while deleting if the FS is busy the error should be proper that FS is busy or in use

[2019-08-05 04:30] rhsakarpos commented on #925
This is a standard issue on UI table data ordering...sharing some guidelines below, followed in another project with a production grade UI, please see if applicable

1. the backend API is totally UI AGNOSTIC. that being said, the backend API must guarantee an order ing (to make it idempotent and deterministic) for any consumer of the API. This order must be published in the API doc.
2. on the UI,

[2019-08-05 04:40] rhsakarpos commented on #927
AFAIU, this is a fix to NOT allow duplicate IPs in fileshare rules....my $0.02

1. this has to be backend API behavior
2. same behaviour is applicable to any user of the API, not just UI...if a duplicate IP is found in a addRule call, the backend should return the existing rule for that IP (if any), so user can leave it as is OR delete existing rule (by calling another API) and then add the new ru

[2019-08-05 07:35] kumarashit commented on #980
@Shruthi-1MN Can you please close this one and Open a new issue. It will be an enhancement. And will involve Dashboard changes too.

[2019-08-05 07:57] kumarashit commented on #975
Some concerns/queries:
a) If the pool is created to have High IOPS (maybe underlying disks are having high RPMs), or having a network channel of high bandwidth, It will have tradeoff of creating some low latency, IOPS, Bandwidth, Volume/Fileshare. The resource is not utilized optimally.
b) Should we allow to have tiered pool? The volume/fileshare being created can choose the tier which fits in int

[2019-08-06 05:16] kumarashit commented on #916
Tried to repro the issue but could not. Will mark this close and if happens again we can open one

[2019-08-06 05:16] #916 closed

[2019-08-09 10:10] thatsdone opened #981 "osdsctl does not honor OS_PROJECT_NAME nor OS_USER_DOMAIN_NAME"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

osdsctl does not honor OS_PROJECT_NAME nor OS_USER_DOMAIN_NAME.

At least, OS_TENANT_NAME is deprecated, and OS_PROJECT_NAME should be referenced.

**What you expected to happen**:

osdsctl sucessfully works with the following (standard) environment variables like openstack commands.
  * OS_PROJECT_NAME instead of OS_TEN

[2019-08-12 04:21] wisererik commented on #981
Because osdsctl reference environment variable.
[code]
 It doesn't use the endpoint registered in keystone. Therefore, there's no issue when you use osdsctl.

[2019-08-20 09:20] thatsdone commented on #981
Sorry, for my late response.
Here, my point is like this.

In case of Keystone integration in the OpenStack world, normally service client such as Nova CLI or API user, follow the following steps.

1.  Send user credentials (username, project_name, password) to the OS_AUTH_URL (not it's own known endpoint) for Authentication.
2. Gets a token and a list of endpoints
3.  Send an API request (e.g. cr

[2019-08-20 10:53] NajmudheenCT opened #984 "New Feature: Get file share details by poolid"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
File storage integration with Vmware needs extra APIs from opensds to support some plugin interfaces.
1. get file share by Pool ID

**What you expected to happen**:
A new API to get file share list by providing pool id.

[2019-08-20 11:01] NajmudheenCT opened #985 "New feature: Get File system of file share"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
File storage integration with Vmware needs extra APIs from opensds to support some plugin interfaces.
1. get file system by share .
**What you expected to happen**:
A new API to GET file system details of the given file share.

[2019-08-20 11:22] NajmudheenCT opened #986 "New feature: Create file share Quota tree"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
To support some interfaces in VMware to opensds file stoareg integration we need to suport Qouat in hotpot .
**What you expected to happen**:
Create new API for Quota creation.

[2019-08-21 06:34] ThisIsClark opened #987 "Profile's name should be unique"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Profile should be unique,  so we should not have two profiles with same name.
Actually, we can not create two profiles with same name and same type, but we can **create two profiles with same name and different types**, which is unreasonable.

**What you expected to happen**:
Can not create two profiles with same name, ev

[2019-08-21 07:05] Shruthi-1MN commented on #980
It is updating existing fileshare ID record status as "errorDeleting" even if it is busy, that should be fixed.

[2019-08-21 10:21] kumarashit commented on #987
Hi, Did you try to create profile using Dashboard? or some other mode cli/API?
I just tried to create profile with same name but different Storage Type and it gives 'Name is existing' error
![DuplicateProfile1](https://user-images.githubusercontent.com/48085413/63424226-98573280-c42b-11e9-8edb-f3fd59307197.PNG)
![DuplicateProfile2](https://user-images.githubusercontent.com/48085413/63424228-985732

[2019-08-21 10:29] kumarashit commented on #914
Closing

[2019-08-21 10:29] #914 closed

[2019-08-21 11:28] himanshuvar commented on #987
@kumarashit Using CLI, I tried creating profile with same name but different Storage Type, it allowed me to create the profiles. However, I found another issue that there is no check/validation for the accessprotocol. I tried some random wrong combination for profile creation.
![1](https://user-images.githubusercontent.com/8712951/63428221-a198cd00-c434-11e9-993c-dbcfdce5c573.JPG)
![2](https://use

[2019-08-21 11:32] kumarashit commented on #987
Got it. @himanshuvar thanks for confirming. For the access protocol issue we can create one.

[2019-08-21 15:08] thatsdone opened #989 "osdsdock fails to retrieve pool list for ceph mimic"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

osdsdock failed to retrieve list of pools from ceph while I was checking if opensds can work with ceph mimic (following slack discussion) using opensds-installer.
(I don't think this is an opensds-installer issue).

**What you expected to happen**:

osdsdock can get a list of pools from ceph, and 'osdsctl pool list' show

[2019-08-21 16:08] wisererik commented on #989
Thanks, Itoh-san, @PravinRanjan10 @xxwjj please take a look at this issue~

[2019-08-21 16:19] wisererik opened #990 "Using openapi tool to validate api request"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

As we know, we are using swagger to define hotpot API which is a good start. To improve our API quality, we can reference some [openapi tool](https://openapi.tools/) to validate our API request/response to check if it follows the openapi specification.

**What you expected to happen**:

A middlefilter will be added in the system wh

[2019-08-24 15:11] thatsdone opened #991 "osdsdock stops backend pool discovery on empty pool list retrieval"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

osdsdock stops backend pool discovery on empty pool list retrieval.

**What you expected to happen**:

osdsdock continues backend pool discovery even if it received an empty pool list.

**How to reproduce it (as minimally and precisely as possible)**:

Try to setup an all-in-one opensds box with only ceph backend using th

[2019-08-25 06:41] thatsdone commented on #989
I got a successful result using my opensds-installer branch below.

https://github.com/thatsdone/opensds-installer/tree/refactor-ceph-ansible

The essential point was to wait for ceph stabilization in 2 senses.
1.  ceph -s returns HEALTH_OK and all the defined osds become up.
2. all the expected ceph pools become visible using 'rados df' which is equivalent to a low level API of go-ceph and osdsdo

[2019-08-25 06:52] thatsdone commented on #989
I'd be happy if anyone can test the branch. Reproduce procedure is the following.

1. Tested distro is Ubuntu 16.04.06 LTS (amd64)
   * requires python-requests and jq.
2. Please use https://github.com/thatsdone/opensds-installer/tree/refactor-ceph-ansible
    * Please note the above is still under development (mostly cleanup works for PR).
3. Ensure you have one additional volume (in my case /dev

[2019-08-26 04:26] wisererik commented on #991
@Shruthi-1MN please take a look at it

[2019-08-26 06:05] #987 closed

[2019-08-26 07:27] ThisIsClark opened #992 "Segmentation fault while executing "make test""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When we executing "make test", it would download a file which named "swagger_linux_amd64" and execute it by "./swagger_linux_amd64"
But if once the downloading is interrupted(network error or Ctrl + C), the "swagger_linux_amd64" file is incomplete, and if we execute "make test" again, it would download "swagger_linux_amd64" again.
B

[2019-08-27 09:05] ThisIsClark opened #995 "Incorrect parameter in wiki"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The chapter "Uninstall the local cluster" in wiki [OpenSDS-Local-Cluster-with-Multi-tenants-Installation](https://github.com/opensds/opensds/wiki/OpenSDS-Local-Cluster-with-Multi-tenants-Installation#opensdshotpot) has a incorrect parameter:
`cd $GOPATH/src/github.com/opensds/opensds && install/devsds/uninstall.sh -purge`
should be

[2019-08-28 10:32] satya-gorli commented on #156
travis-ci is already configured for the project and static checks, UT, IT, E2E cases running jobs are create and running on PR creation.

[2019-08-28 11:13] Shruthi-1MN opened #996 "Create file share failed because of no default named profile"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Create file share failed to create file share through CLI
[code]

**What happened**:
Tried to create file share with default profile but got error as "can't find profile name default"
[code]
**What you expected to happen**:
It should create file share with default profile of storage type "file"

**How to reproduce it (as minimally and precisely as poss